<template>
  <el-container >
    <el-row class="full-width" :gutter="15">
      <el-col :span="12" >
        <el-card>
          <div slot="header" class="clearfix card-header">
            <iron-icon icon="vaadin:plus-circle-o"></iron-icon> <span class="login-form-heading">Edit Department</span>
            <el-button class="right-floated" @click="showDoctorsPanel = true" size="mini" type="primary" >Add Doctor</el-button>
          </div>

          <el-form :model="form" ref="adminDepartmentForm" :rules="rules" label-position="top">
            <el-row class="form-container"   >

              <el-col :span="24">
                <el-form-item label="Department Name" prop="name">
                  <el-input v-model.trim="form.name"></el-input>
                </el-form-item>
              </el-col>

              <el-col :span="24">
                <el-alert v-if="totalPercentageError.error"
                          :title="totalPercentageError.text"
                          type="error"
                          show-icon>
                </el-alert>
                <el-alert v-if="feeError.error"
                          :title="feeError.text"
                          type="error"
                          show-icon>
                </el-alert>
              </el-col>

              <el-col :span="24">
                <doctors v-on:showDoctorsPanel="showDoctorsPanel=true" v-on:showAssistantsPanel="showAssistantsPanel=true" v-on:showDoctorsForm="showDoctorsForm=true" v-on:showAssistantForm="showAssistantForm=true"></doctors>
              </el-col>


              <el-col :span=24>

                <el-form-item>
                  <el-button type="primary" plain @click="submitForm('adminDepartmentForm')" :loading="formSubmitting" >
                    Update
                  </el-button>
                </el-form-item>

              </el-col>


            </el-row>
          </el-form>

        </el-card>
      </el-col>

      <el-col :span="12" v-if="showDoctorsPanel">
        <doctorsPanel v-on:closeDoctorsPanel="showDoctorsPanel=false"></doctorsPanel>
      </el-col>

      <el-col :span="12" v-if="showAssistantsPanel">
        <assistantsPanel v-on:closeAssistantsPanel="showAssistantsPanel=false"></assistantsPanel>
      </el-col>

      <el-col :span="12" v-if="showDoctorsForm">
        <doctorsForm v-on:closeDoctorsForm="showDoctorsForm=false"></doctorsForm>
      </el-col>

      <el-col :span="12" v-if="showAssistantForm">
        <assistantForm v-on:closeAssistantForm="showAssistantForm=false"></assistantForm>
      </el-col>


    </el-row>
  </el-container>
</template>

<script src="./_edit.js"></script>
