<template>

  <el-row  >
    <el-col :lg="12" :sm="24" :md="20">
      <el-card>
        <div slot="header" class="clearfix card-header">
          <span class="login-form-heading">Manage Departments</span>
          <span v-if="dataLoading || deleting" class="right-floated"><i class="el-icon-loading"></i></span>
        </div>

        <el-table class="full-width" empty-text="No Data" :data="items" >
          <el-table-column prop="name" label="Department Name"></el-table-column>
          <el-table-column class="action-column" >
            <template slot-scope="scope" >

              <el-button type="text" class="action-button delete-button right-floated" icon="el-icon-delete" @click="handleDelete(scope.$index, scope.row)"></el-button>
              <el-button type="text" class="action-button right-floated" icon="el-icon-edit" @click="handleEdit(scope.row)"></el-button>

            </template>
          </el-table-column>
        </el-table>
      </el-card>

    </el-col>
  </el-row>


</template>
<script src="./_list.js"></script>
