<template>

  <el-card >
    <div slot="header" class="clearfix card-header">
      <span class="login-form-heading">Add Assistants</span>
      <el-dropdown class="right-floated" @command="handleCradHeaderCommand">
        <i class="el-icon-setting"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="addSelected">Add Selected</el-dropdown-item>
          <el-dropdown-item divided command="close">Close</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>

    <el-table v-loading="dataLoading" :data="items" @selection-change="handleSelectionChange"  ref="multipleTable">

      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        property="name"
        label="Name">
      </el-table-column>

    </el-table>

  </el-card>

</template>

<script src="./_assistantsPanel.js"></script>
