<template>
  <el-card class="white">
    <div slot="header" class="clearfix white">
      <span class="login-form-heading">Add Assistant Form</span>
      <el-button class="tiny" @click="close" icon="el-icon-close" plain></el-button>
      <el-button @click="addComponent" class="tiny" icon="el-icon-plus" >row</el-button>
    </div>

    <el-main class="no-padding">

      <el-row :gutter="10"  class="dynamic-form-row margin-0" v-for="(itemRow, rowIndex) in assistantForm" :key="rowIndex">
        <el-col :span="24" class="dynamic-form-row-header">
          <el-button class="tiny" icon="el-icon-plus" @click="addCell({rowIndex: rowIndex})">cell</el-button>
          <el-button type="text" class="tiny delete-button" icon="el-icon-delete" @click="removeRow({rowIndex: rowIndex})"></el-button>
        </el-col>


        <el-col class="cell-container" v-for="(itemCell, indexCell) in itemRow.cells" :span="itemCell.gr" :key="indexCell">
          <div class="cell-header">
            <el-button  type="text" icon="el-icon-caret-left" @click="changeCellLength({rowIndex: rowIndex, cellIndex: indexCell, length: -4})"></el-button>
            <el-button class="margin-left-0"  type="text" icon="el-icon-caret-right" @click="changeCellLength({rowIndex: rowIndex, cellIndex: indexCell, length: 2})"></el-button>
            <el-button type="text" icon="el-icon-tickets" size="mini" @click="displayFormFields({rowIndex: rowIndex, cellIndex: indexCell})"></el-button>
            <el-button @click="removeCell({rowIndex: rowIndex, cellIndex: indexCell})" class="delete-button" icon="el-icon-delete" type="text" size="mini"></el-button>
          </div>

          <el-main class="no-padding" v-for="(field, fieldIndex) in itemCell.fields" :class="[field.properties.size]" :key="fieldIndex">
            <sectionField v-if="field.type === 'section'" :data="{field:field, rowIndex: rowIndex, cellIndex: indexCell, fieldIndex: fieldIndex}"></sectionField>
            <text-field v-if="field.type === 'text'" :data="{field:field, rowIndex: rowIndex, cellIndex: indexCell, fieldIndex: fieldIndex}"></text-field>
            <text-area v-if="field.type === 'textarea'" :data="{field:field, rowIndex: rowIndex, cellIndex: indexCell, fieldIndex: fieldIndex}"></text-area>
            <select-field v-if="field.type === 'select'" :data="{field:field, rowIndex: rowIndex, cellIndex: indexCell, fieldIndex: fieldIndex}"></select-field>
            <checkbox-field v-if="field.type === 'checkbox'" :data="{field:field, rowIndex: rowIndex, cellIndex: indexCell, fieldIndex: fieldIndex}"></checkbox-field>
            <table-field v-if="field.type === 'table'" :data="{field:field, rowIndex: rowIndex, cellIndex: indexCell, fieldIndex: fieldIndex}"></table-field>

          </el-main>

        </el-col>


      </el-row>


      <!--Component Selector-->
      <componentAssistantSelector :show.sync="showAssistantComponentSelector" ></componentAssistantSelector>

      <!--Component Editor-->
      <componentAssistantEditor  ></componentAssistantEditor>

    </el-main>



  </el-card>
</template>
<script src="./_assistantForm.js"></script>
