<template>
  <el-dialog v-if="show" :title="editorHeading" width="25%" :before-close="closeComponentEditor" :close-on-click-modal="false" :close-on-press-escape="false" :visible="show">

    <el-row class="full-width edit-field-row">
      <el-col :span="12">
        Name
        <el-tooltip class="margin-left-20" effect="dark" placement="top-start">
          <div slot="content">Recommended to change to unique name.<br>If Name set to already existing one,<br>data will be loaded from DataBase for that name.</div>
          <i class="el-icon-info"></i>
        </el-tooltip>
      </el-col>
      <el-col :span="12">
        <el-input :value="formField.name" @input.native="editComponent({name: $event.target.value})"></el-input>
      </el-col>
    </el-row>

    <el-row class="full-width edit-field-row">
      <el-col :span="12">
        Label
      </el-col>
      <el-col :span="12">
        <el-input v-if="formField.properties.language !== 'urdu'" :value="formField.label" @input.native="editComponent({label: $event.target.value})"></el-input>
        <el-input v-else dir="rtl" :value="formField.label_urdu" @input.native="editComponentUrdu($event.target)"></el-input>
      </el-col>
    </el-row>

    <el-row v-if="formField.type === 'text' || formField.type === 'textarea'" class="full-width edit-field-row">
      <el-col :span="12">
        Place Holder
      </el-col>
      <el-col :span="12">
        <el-input :value="formField.placeholder" @input.native="editComponent({placeholder: $event.target.value})"></el-input>
      </el-col>
    </el-row>

    <el-row v-if="formField.type === 'text' || formField.type === 'textarea'" class="full-width edit-field-row">
      <el-col :span="12">
        Help Text
      </el-col>
      <el-col :span="12">
        <el-input :value="formField.help_text" @input.native="editComponent({help_text: $event.target.value})"></el-input>
      </el-col>
    </el-row>

    <el-row v-if="formField.type === 'text' || formField.type === 'textarea'" class="full-width edit-field-row">
      <el-col :span="12">
        Language
      </el-col>
      <el-col :span="12">
        <el-select placeholder="Select" v-model="language" @change="changeLanguage">
          <el-option
            label="English"
            value="english">
          </el-option>
          <el-option
            label="اردو"
            value="urdu">
          </el-option>
        </el-select>
      </el-col>
    </el-row>

    <el-row v-if="formField.type === 'text'" class="full-width edit-field-row">
      <el-col :span="12">
        Dictionary Name
        <el-tooltip class="margin-left-20" effect="dark" placement="top-start">
          <div slot="content">Name of dictionary<br>this will load values from existing dictionary<br>or will create new if dictionary name dose'nt exists</div>
          <i class="el-icon-info"></i>
        </el-tooltip>
      </el-col>
      <el-col :span="12">
        <el-input :value="formField.properties.dictionary" @input.native="editFieldProperty({property: 'dictionary', val: $event.target.value})"></el-input>
      </el-col>
    </el-row>

    <el-row v-if="formField.type === 'select'" class="full-width edit-field-row">
      <el-col :span="24" class="dynamic-form-row-header">
        <el-button class="tiny" icon="el-icon-plus" @click="addProperty({type: 'option'})">Select Option</el-button>
      </el-col>
    </el-row>

    <el-row v-if="formField.type === 'select'" v-for="(option, optionIndex) in getSelectOptions" :key="optionIndex" class="full-width edit-field-row">
      <el-col :span="18">
        <el-input :value="option.label" @input.native="editProperty({index: optionIndex, type: 'option', val: $event.target.value})"></el-input>
      </el-col>
      <el-col :span="4" class="text-right">
        <el-button type="text" class="delete-button" icon="el-icon-delete" @click="removeProperty({index: optionIndex,  type: 'option'})"></el-button>
      </el-col>
    </el-row>

    <el-row v-if="formField.type === 'table'">
      <el-col :span="24" class="dynamic-form-row-header">
        <el-button class="tiny" icon="el-icon-plus" @click="addProperty({type: 'column'})">Add Column</el-button>
      </el-col>
    </el-row>

    <el-row v-if="formField.type === 'table'" v-for="(column, columnIndex) in formField.properties.columns" :key="columnIndex">
      <el-col :span="18" class="dynamic-form-row-header">
        <el-input placeholder="Column Label" :value="column.heading" @input.native="editProperty({index: columnIndex, type: 'column', val: $event.target.value})"></el-input>
      </el-col>
      <el-col :span="4" class="text-right">
        <el-button type="text" class="delete-button" icon="el-icon-delete" @click="removeProperty({index: columnIndex,  type: 'column'})"></el-button>
      </el-col>
    </el-row>

    <el-row v-if="formField.type === 'table'">
      <el-col :span="24" class="dynamic-form-row-header">
        <el-button class="tiny" icon="el-icon-plus" @click="addProperty({type: 'row'})">Add Row</el-button>
      </el-col>
    </el-row>

    <el-row v-if="formField.type === 'table'" v-for="(row, rowIndex) in formField.properties.rows" :key="rowIndex">
      <el-col :span="18" class="dynamic-form-row-header">
        <el-input placeholder="Column Label" :value="row.heading" @input.native="editProperty({index: rowIndex, type: 'row', val: $event.target.value})"></el-input>
      </el-col>
      <el-col :span="4" class="text-right">
        <el-button type="text" class="delete-button" icon="el-icon-delete" @click="removeProperty({index: rowIndex,  type: 'row'})"></el-button>
      </el-col>
    </el-row>

    <el-row v-if="formField.isNested" class="full-width edit-field-row">
      <el-col :span="12">
        Button Label
      </el-col>
      <el-col :span="12">
        <el-input :value="formField.button_label" @input.native="editComponent({button_label: $event.target.value})"></el-input>
      </el-col>
    </el-row>

    <el-row v-if="formField.isNested">
      <br />
      <el-col :span="12" >
        Form Fields Inline
      </el-col>
      <el-col :span="12" >

        <el-switch
          v-model="inline"
          active-color="#13ce66"
          inactive-color="#ff4949"
          active-value=true
          inactive-value=false>
        </el-switch>
      </el-col>
    </el-row>


  </el-dialog>
</template>
<script src="./_componentAssistantEditor.js"></script>
