<template>

  <el-dialog title="Add Form Fields" width="25%" :before-close="close" :close-on-click-modal="false" :close-on-press-escape="false" :visible.sync="show">
    <el-menu class="component-picker">

      <el-menu-item index="1" @click="addComponent('section')">
        <iron-icon icon="vaadin:thin-square"></iron-icon>
        <span>Section</span>
      </el-menu-item>

      <el-menu-item index="2" @click="addComponent('text')">
        <iron-icon icon="vaadin:input"></iron-icon>
        <span>Text Field</span>
      </el-menu-item>

      <el-menu-item index="3" @click="addComponent('textarea')">
        <iron-icon icon="vaadin:text-input"></iron-icon>
        <span>Text Area</span>
      </el-menu-item>

      <el-menu-item index="4" @click="addComponent('select')">
        <iron-icon icon="vaadin:select"></iron-icon>
        <span>Select</span>
      </el-menu-item>

      <el-menu-item index="5" @click="addComponent('checkbox')">
        <iron-icon icon="vaadin:check-square"></iron-icon>
        <span>Check Box</span>
      </el-menu-item>

      <el-menu-item index="6" @click="addComponent('table')">
        <iron-icon icon="vaadin:table"></iron-icon>
        <span>Table Fields</span>
      </el-menu-item>

      <el-menu-item index="7" @click="addComponent('nestedform')">
        <iron-icon icon="vaadin:file-tree"></iron-icon>
        <span>Nested Form</span>
      </el-menu-item>

    </el-menu>
  </el-dialog>

</template>
<script src="./_componentSelector.js"></script>
