<template>
  <el-container>

    <el-main class="no-padding-main">

      <h3>
        Doctors
      </h3>

    <el-table :data="getSelectedDoctors" >

      <el-table-column type="expand">
        <template slot-scope="props">
          <div class="assistant-table">
            <el-dropdown @command="handleCradHeaderCommand">
              <span class="el-dropdown-link">
                Assistant<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item :command="{'action':'showAssistantsPanel','id': props.row.id}">Add Assistant</el-dropdown-item>
                <el-dropdown-item :command="{'action':'showAssistantForm','id': props.row.id}">Add Assistant Form</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>

          <el-table :data="props.row.assistants">
            <el-table-column
              prop="name"
              label="Name"
              width="180">
            </el-table-column>


            <el-table-column label="%" >
              <template slot-scope="scope">
                <el-input type="text" :value="scope.row.percentage" @input.native="assistantChangePercentage($event.target, props.row.id, scope.row.id)" :class="{'input-error': props.row.percentageError}"></el-input>
              </template>
            </el-table-column>

            <el-table-column class="action-column text-right"  >
              <template slot-scope="scope" >
                <el-button type="text" class="action-button delete-button" icon="el-icon-delete" @click="handleAssistantDelete({doctorID: props.row.id, id: scope.row.id})"></el-button>
              </template>
            </el-table-column>

          </el-table>
        </template>
      </el-table-column>


      <el-table-column
        prop="name"
        label="Name"
        >
      </el-table-column>

      <el-table-column label="%">
        <template slot-scope="scope">
          <el-input type="text" :value="scope.row.percentage" @input.native="doctorChangePercentage($event.target, scope.row.id)" :class="{'input-error': scope.row.percentageError}"></el-input>
        </template>
      </el-table-column>

      <el-table-column label="Fee">
        <template slot-scope="scope">
          <el-input type="text" :value="scope.row.fee" @input.native="doctorChangeFee($event.target, scope.row.id)" :class="{'input-error': scope.row.feeError}"></el-input>
        </template>
      </el-table-column>

      <el-table-column class="action-column" >
        <template slot-scope="scope" >
          <el-tooltip content="Add Doctor Form" placement="top" effect="light">
            <el-button type="text" class="action-button" icon="el-icon-tickets" @click="showDoctorsForm(scope.row.id)"></el-button>
          </el-tooltip>
          <el-button type="text" class="action-button delete-button" icon="el-icon-delete" @click="handleDoctorDelete(scope.$index)"></el-button>
        </template>
      </el-table-column>





    </el-table>




    </el-main>
  </el-container>

</template>
<script src="./_doctors.js"></script>
