<template>
  <el-main >

    <el-row type="flex"  justify="center">
      <el-col :lg="12" :sm="24" :md="20">

        <ve-histogram :title="title" :data="chartData" :settings="chartSettings" :loading="loading" >
          <div v-if="empty" class="data-empty">No Data</div>
        </ve-histogram>

      </el-col>
    </el-row>


  </el-main>
</template>
<style>
  .data-empty {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    color: #888;
    font-size: 20px;
  }
</style>
<script>
  import Histogram from 'v-charts/lib/histogram';
  import 'v-charts/lib/line';
  import 'v-charts/lib/style.min.css';
  import 'echarts/lib/component/title';
  import {db} from '@/firebase/db';
  import _ from 'lodash';
  import moment from 'moment';
  export default {
    name: 'doctor-dash',
    components: {
      've-histogram': Histogram
    },
    data: function () {
      return {
        chartData: {
          columns: ['date', 'patients', 'share', 'growth rate'],
          rows: []
        },
        chartSettings: {
          showLine: ['share', 'growth rate'],
          axisSite: { right: ['growth rate'] },
          yAxisType: ['normal', 'percent']
        },
        title: {
          text: 'Current Month Patients'
        },
        loading: true,
        dataEmpty: 'No Data',
        empty: false,
        fetchedData: []
      };
    },
    firestore () {
      return {
        shares: db.collection('doctor_shares'),
        doctors: db.collection('doctors')
      };
    },
    mounted: function () {
      // temp doctor
      let docId = this.$cookie.get('department-doctor-id');
      this.loading = true;
      let results = [];
      let temp = [];
      let prevShare = 0;
      let start = new Date(moment().local().startOf('month').valueOf());
      let end = new Date(moment().local().endOf('month').valueOf());
      this.$firestore.shares
        .where('department_doctor_id', '==', docId)
        .where('created_at', '>=', start)
        .where('created_at', '<=', end)
        .get()
        .then((shares) => {
          shares.forEach((share) => {
            results.push(share.data());
          });
          let groupedResults = _.groupBy(results, (result) => moment.unix(result.created_at.seconds).startOf('day').format('DD/MM'));
          _.forEach(groupedResults, (value, key) => {
            let share = 0;
            _.forEach(value, (value) => {
              share += parseInt(value.amount);
            });
            let gRate = (prevShare === 0) ? 0 : (value.length - prevShare) / prevShare;
            temp.push({
              'date': key,
              'patients': value.length,
              'share': share,
              'growth rate': gRate
            });
            prevShare = value.length;
          });
        })
        .catch((e) => {
          this.showErrorMessage(e.message);
        })
        .then(() => {
          this.chartData.rows = temp;
          this.loading = false;
          if (_.isEmpty(results)) {
            this.empty = true;
          }
        });
    }
  };
</script>
