<template>
  <el-container class="full-height">
    <el-header class="top-header">
      <el-menu default-active="/doctor" :router="true" class="top-menu" active-text-color="#409EFF" mode="horizontal" >

        <el-menu-item :route="{ path: `/doctor` }" class="menu-item" index="/doctor" >

            <iron-icon icon="vaadin:dashboard"></iron-icon>
            Dash

        </el-menu-item>

        <el-menu-item :route="{ path: `/doctor/patients` }" class="menu-item" index="/doctor/patients" >

            <iron-icon icon="vaadin:user-heart"></iron-icon>
            Patients

        </el-menu-item>



        <el-menu-item :route="{ path: `/signout` }" v-on:click.native="doSignOut" class="menu-item right-floated" index="/signout" >

            <iron-icon icon="vaadin:sign-out"></iron-icon>
            Logout

        </el-menu-item>

        <el-menu-item :route="{ path: `/doctor/settings` }" v-on:click.native="doSignOut" class="menu-item right-floated" index="/doctor/settings"  >
            <iron-icon icon="vaadin:cog"></iron-icon>
            Settings
        </el-menu-item>



      </el-menu>
    </el-header>

    <router-view ></router-view>
  </el-container>
</template>
<script>
  export default {
    name: 'doctor-main',
    created: function () {
      let cookie = this.$cookie.get('user-role');
      if (!cookie || cookie !== 'Doctor') {
        this.doSignOut();
      }
    }
  };
</script>

