<template>

  <div>

    <el-row class="margin-top-20 currency full-width" :gutter="15">
      <el-col class="text-left" :span="6">
        <span>Income: </span>
      </el-col>
      <el-col class="text-left" :span="12">
        {{income|currency('Rs ', 0, { thousandsSeparator: ',' })}}
      </el-col>
    </el-row>

    <el-row class="margin-top-20 currency full-width" :gutter="15">
      <el-col class="text-left" :span="6">
        <span>Expanse/Payments: </span>
      </el-col>
      <el-col class="text-left" :span="12">
        {{expanse|currency('Rs ', 0, { thousandsSeparator: ',' })}}
      </el-col>
    </el-row>

    <el-row class="margin-top-20 currency full-width" :gutter="15">
      <el-col class="text-left" :span="6">
        <span>Balance: </span>
      </el-col>
      <el-col class="text-left" :span="12">
        <span :class="[(amountBalance < 0) ? 'danger-text' : 'green-txt']" class="balance">
        {{amountBalance|currency('Rs ', 0, { thousandsSeparator: ',' })}}
      </span>
      </el-col>
    </el-row>

  </div>

</template>
<script src="./_balance.js"></script>
