<template>
  <el-container  >


    <el-row class="full-width block" :gutter="15">

      <el-col :sm="24">
        <h2>
          Account Balance
        </h2>
      </el-col>

      <el-col v-if="balance" class="margin-top-20" :sm="24" :md="18" :lg="18" v-loading="loading"  >
        <el-card shadow="never">
          <div class="block">
            <el-date-picker
              v-model="dateRange"
              type="daterange"
              range-separator="To"
              start-placeholder="Start date"
              end-placeholder="End date"
              format="dd/MM/yyyy"
              value-format="yyyy-MM-dd"
              @change="dateChange"
            >
            </el-date-picker>
          </div>

          <balance  v-bind="accountBalance" ></balance>



        </el-card>

      </el-col>

    </el-row>


  </el-container>
</template>

<script src="./_income.js"></script>
