<template>
  <el-container>

    <el-row class="full-width">
      <el-col :lg="12" :sm="24" :md="20" >
        <el-card>
          <div slot="header" class="clearfix card-header">
            <iron-icon icon="vaadin:plus-circle-o"></iron-icon> <span class="login-form-heading">Edit User</span>
          </div>
          <edit-form :edit=true v-bind:edit-id="id" api-end-point="users"   ></edit-form>
        </el-card>
      </el-col>
    </el-row>
  </el-container>

</template>

<script src="./_edit.js"></script>
