<template>

  <el-form :model="form" ref="adminUserForm" :rules="rules" label-position="top">
    <el-row v-loading="loading" class="form-container"   >

      <el-row type="flex" :gutter="15">
        <el-col :span=12 >
          <el-form-item label="Login Id" prop="login_id">
            <el-input v-model.trim="form.login_id"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span=12  >
          <el-form-item label="Password" prop="password" v-show="!edit">
            <el-input type="password" v-model.trim="form.password"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex" :gutter="15">

        <el-col :span=12>
          <el-form-item label="Role" >
            <el-select v-model="form.role" @change="roleChanged" placeholder="Select Role">
              <el-option label="Operator" value="Operator"></el-option>
              <el-option label="Assistant" value="Assistant"></el-option>
              <el-option label="Doctor" value="Doctor"></el-option>
              <el-option label="Admin" value="Administrator"></el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col v-if="showOperator" :span=12>
          <el-form-item label="Operator Type" >
            <el-select  v-model="form.role_type" placeholder="Operator Type">
              <el-option
                v-for="operator in operators"
                :key="operator"
                :label="operator"
                :value="operator">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col v-show="showDoctors" :span=12>
          <el-form-item label="Select Doctor" >
            <el-select v-model="dummy"  @change="doctorChange" placeholder="Select Doctor">
              <el-option
                v-for="(doctor, index) in doctors"
                :key="index"
                :label="doctor.name+' ('+doctor.department+')'"
                :value="index">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>


      </el-row>


      <el-row type="flex">
        <el-col :span=12>

          <el-form-item>
            <el-button type="primary" plain @click="submitForm('adminUserForm')" :loading="formSubmitting" >
              {{button}}
            </el-button>
          </el-form-item>

        </el-col>
      </el-row>

    </el-row>
  </el-form>

</template>
<script src="./_form.js"></script>
