<template>
  <el-row class="full-width" >
    <el-col :lg="18" :sm="24" :md="24">
      <el-card>
        <div slot="header" class="clearfix card-header">
          <span class="login-form-heading">Manage Users</span>
          <span v-if="loading || deleting" class="right-floated"><i class="el-icon-loading"></i></span>
        </div>

        <el-table class="full-width" empty-text="No Data" :data="items" >
          <el-table-column prop="data.login_id" label="Login Id"></el-table-column>
          <el-table-column prop="data.role" label="User Role"></el-table-column>
          <el-table-column prop="data.role_type" label="Type"></el-table-column>
          <el-table-column label="Doctor">
            <template slot-scope="scope">
              <span v-if="scope.row.data.selected_doctor">{{scope.row.data.selected_doctor.name}}</span>
            </template>
          </el-table-column>


          <el-table-column class="action-column" >
            <template slot-scope="scope" >

              <el-button type="text" class="action-button delete-button right-floated" icon="el-icon-delete" @click="handleDelete(scope.$index, scope.row)"></el-button>

            </template>
          </el-table-column>

        </el-table>
      </el-card>

    </el-col>
  </el-row>
</template>
<script src="./_list.js"></script>
