<template>
  <el-main >

    <el-row type="flex"  justify="center">
      <el-col :lg="12" :sm="24" :md="20">

        <el-card>
          <div slot="header" class="clearfix card-header">
            <iron-icon icon="vaadin:cash"></iron-icon> <span class="login-form-heading">Expenses</span>
          </div>

          <!--Form-->

          <expanses-form></expanses-form>


        </el-card>

      </el-col>
    </el-row>


  </el-main>
</template>

<script>
  import ExpansesForm from './form.vue';
  export default {
    name: 'expanses',
    components: {
      'expanses-form': ExpansesForm
    }
  };
</script>
