<template>
  <el-form :model="form" ref="expansesForm" :rules="rules" label-position="top">
    <el-row :gutter="15" >
      <el-col :span="12">
        <el-form-item label="Amount" prop="amount">
          <el-input type="number"  v-model.trim="form.amount"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span=12>
        <el-form-item label="Select Department" prop="department">
          <el-select  placeholder="Departments" v-model="form.department">
            <el-option
              v-for="item in departments"
              :key="item.value"
              :label="item.label"
              :value="item">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="24">
        <el-form-item label="Details" prop="details">
          <el-input type="textarea" :rows="2" v-model.trim="form.details" ></el-input>
        </el-form-item>
      </el-col>

      <el-col :span="24">
        <el-form-item label="" >
          <el-button type="primary" plain @click="validateBeforeSubmit('expansesForm')" :loading="formSubmitting">Save</el-button>
        </el-form-item>
      </el-col>

    </el-row>
  </el-form>
</template>

<script src="./_form.js"></script>
