<template>
  <el-container >
    <el-row class="full-width" :gutter="15">
      <el-col v-loading="loading" :lg="18" :sm="24" :md="24" >
        <el-card>
          <div slot="header" class="clearfix card-header">
            <span class="login-form-heading">Patient Details</span>
          </div>

          <div class="patient-detail">
            <span class="name">Name: {{patient.name}} </span>
            <span class="age">Age: {{patient.age | age}} </span>
            <span class="age">Gender: {{patient.gender | capitalize}} </span>
            <span class="time right-floated"><i class="el-icon-time"></i> <small>{{patient.entryDate | patientEntryDate}}</small></span>
          </div>


          <el-form  ref="assistantForm"  label-position="top">
            <el-row :gutter="10"  class="dynamic-form-row margin-0" v-for="(row, rowIndex) in assistant.form" :key="rowIndex" >
              <el-col v-for="(cell, indexCell) in row.cells" :span="cell.gr" :key="indexCell">
                <template v-for="(field, fieldIndex) in cell.fields" >
                  <h3 class="section-head" v-if="field.type === 'section'">{{field.label}}</h3>
                  <el-checkbox v-if="field.type === 'checkbox'" v-model="prescription.assistant[field.name].value">{{field.label}}</el-checkbox>


                  <el-form-item v-if="field.type === 'text'"
                                :label="field.properties.language !== 'urdu'?field.label:field.label_urdu"
                                :class="{'text-right':field.properties.language === 'urdu'}"
                  >
                    <template v-if="field.properties.language !== 'urdu'">
                      <el-input v-if="!field.properties.dictionary" :placeholder="field.placeholder" v-model="prescription.assistant[field.name].value" ></el-input>
                      <el-autocomplete v-else
                                       :placeholder="field.placeholder"
                                       v-model="prescription.assistant[field.name].value"
                                       class="full-width"
                                       :debounce="500"
                                       :fetch-suggestions="dictionarySuggestions"
                                       :trigger-on-focus="false"
                                       @input="setDictionaryName(field.properties.dictionary)"
                                       value-key="value"
                      ></el-autocomplete>
                    </template>
                    <template v-else>
                      <el-input
                        v-if="!field.properties.dictionary"
                        :placeholder="field.placeholder"
                        dir="rtl"
                        :value="prescription.assistant[field.name].value"
                        @input.native="editUrduField($event.target.value, null,field.name)"
                      ></el-input>
                      <el-autocomplete v-else
                                       dir="rtl"
                                       :placeholder="field.placeholder"
                                       :value="prescription.assistant[field.name].value"
                                       @input.native="editUrduField($event.target.value, field.properties.dictionary, field.name)"
                                       class="full-width"
                                       :debounce="1000"
                                       :fetch-suggestions="dictionarySuggestions"
                                       :trigger-on-focus="false"
                                       value-key="value"
                                       @select="urduValueSelected"
                      ></el-autocomplete>
                    </template>

                  </el-form-item>

                  <el-form-item v-if="field.type === 'textarea'"
                                :label="field.properties.language !== 'urdu'?field.label:field.label_urdu"
                                :class="{'text-right':field.properties.language === 'urdu'}"
                  >
                    <template v-if="field.properties.language !== 'urdu'">
                      <el-input  type="textarea"
                                 :rows="4" :placeholder="field.placeholder" v-model="prescription.assistant[field.name].value" ></el-input>

                    </template>
                    <template v-else>
                      <el-input
                        type="textarea"
                        :rows="2"
                        :placeholder="field.placeholder"
                        dir="rtl"
                        :value="prescription.assistant[field.name].value"
                        @input.native="editUrduField($event.target.value, null,field.name)"
                      ></el-input>
                    </template>

                  </el-form-item>


                  <template v-if="field.type === 'section' && field.isNested">
                    <div :class="{'collapse':field.properties.inline}"  v-for="(sectionField, sectionFieldIndex) in field.fields" :key="sectionFieldIndex" >
                      <el-form-item v-if="sectionField.type === 'text'"
                                    :label="sectionField.properties.language !== 'urdu'?sectionField.label:sectionField.label_urdu"
                                    :class="{'text-right':sectionField.properties.language === 'urdu'}"
                      >
                        <template v-if="sectionField.properties.language === 'urdu'">
                          <el-input dir="rtl" v-if="!sectionField.properties.dictionary"
                                    :placeholder="sectionField.placeholder"
                                    :value="prescription.assistant[field.name].fields[sectionFieldIndex].value"
                                    @input.native="editSectionUrduField($event.target, field.name, sectionFieldIndex)" ></el-input>
                          <el-autocomplete v-else
                                           dir="rtl"
                                           :placeholder="sectionField.placeholder"
                                           :value="prescription.assistant[field.name].fields[sectionFieldIndex].value"
                                           @input.native="editSectionUrduField($event.target, sectionField.properties.dictionary, field.name, sectionFieldIndex)"
                                           class="full-width"
                                           :debounce="1000"
                                           :fetch-suggestions="dictionarySuggestions"
                                           :trigger-on-focus="false"
                                           value-key="value"
                                           @select="urduValueSelected"

                          ></el-autocomplete>
                        </template>
                        <template v-else>
                          <el-input  v-if="!sectionField.properties.dictionary" :placeholder="sectionField.placeholder" v-model="prescription.assistant[field.name].fields[sectionFieldIndex].value" ></el-input>
                          <el-autocomplete v-else
                                           :placeholder="sectionField.placeholder"
                                           v-model="prescription.assistant[field.name].fields[sectionFieldIndex].value"
                                           class="full-width"
                                           :debounce="1000"
                                           :fetch-suggestions="dictionarySuggestions"
                                           :trigger-on-focus="false"
                                           @input="setDictionaryName(sectionField.properties.dictionary)"
                                           value-key="value"

                          ></el-autocomplete>
                        </template>
                      </el-form-item>
                    </div>
                    <div class="nested-button inline"  >
                      <el-form-item >
                        <el-button size="mini" @click="addNestedFormData(field.name)" type="primary">{{field.button_label}}</el-button>
                      </el-form-item>

                    </div>
                    <div class="clear-fix"></div>
                    <table  v-if="field.isNested && prescription.assistant[field.name].data.length > 0" class="table full-width">
                      <thead>
                      <tr>
                        <th class="text-left"  v-for="nestedField in prescription.assistant[field.name].fields" >
                          {{nestedField.label}}
                        </th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-for="(dataFields, index) in prescription.assistant[field.name].data">
                        <td  v-for="dtField in dataFields">
                          {{dtField}}
                        </td>
                        <td class="action">
                          <el-button type="text" class="action-button delete-button" icon="el-icon-delete" @click="handleDelete({id: index, name: field.name})"></el-button>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <hr />
                  </template>
                  <!--Table Field-->
                  <div v-if="field.type === 'table'" class="table-container">
                    <h4 class="label">
                      {{field.label}}
                    </h4>
                    <table v-if="field.type === 'table'" class="table ">
                      <thead>
                      <tr>
                        <th class="no-border"></th>
                        <th v-for="column in field.properties.columns">
                          {{column.heading}}
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-for="(row, index) in field.properties.rows">
                        <td class="key heading">
                          {{row.heading}}
                        </td>
                        <td class="value" v-for="column in field.properties.columns">
                          <el-input v-model="prescription.assistant[field.name][index].data[column.heading]"></el-input>
                        </td>
                      </tr>
                      </tbody>

                    </table>
                  </div>
                  <!--Select Field-->
                  <div v-if="field.type === 'select'" class="select-container">
                    <div class="label">
                      {{field.label}}
                    </div>
                    <el-select class="full-width" v-model="prescription.assistant[field.name].value">
                      <el-option  v-for="item in prescription.assistant[field.name].options"
                                  :key="item.label"
                                  :label="item.label"
                                  :value="item.label"></el-option>
                    </el-select>
                  </div>

                </template>
              </el-col>
            </el-row>


            <el-row>
              <el-col>
                <el-form-item>
                  <el-button class="margin-top-20 margin-left-5" type="primary" plain :loading="formSubmitting" @click="submit()">Save</el-button>
                </el-form-item>

              </el-col>
            </el-row>

          </el-form>

        </el-card>
      </el-col>
    </el-row>
  </el-container>
</template>
<script src="./_detail.js"></script>
