<template>
  <el-container>

      <el-aside v-loading="loading" class="side-menu">
          <h3 class="sidebar-heading">Patients</h3>
            <el-menu text-color="#303133" active-text-color="#409EFF"    >
              <el-menu-item v-for="(item, index) in assistantQue"  :index="index.toString()" :key="item.id">
                <router-link :to="`/assistant/patients/detail/${item.id}`" class="menu-item" exact>
                  <span class="patient-list-item">
                    {{item.patient.name}}
                    <small class="date">{{item.created_at | moment}}</small>
                  </span>
                </router-link>
              </el-menu-item>
            </el-menu>
      </el-aside>

    <el-main>
      <router-view ></router-view>
    </el-main>

  </el-container>
</template>
<script src="./_patients.js"></script>
