<template>
  <el-container class="full-height">
    <el-header class="top-header">
      <el-menu default-active="1" class="top-menu" active-text-color="#409EFF" mode="horizontal" >

        <el-menu-item index="1" >
          <router-link to="/assistant" class="menu-item" exact>
            <iron-icon icon="vaadin:dashboard"></iron-icon>
            Dash
          </router-link>
        </el-menu-item>

        <el-menu-item index="2" >
          <router-link to="/assistant/patients" class="menu-item" exact>
            <iron-icon icon="vaadin:user-heart"></iron-icon>
            Patients
          </router-link>
        </el-menu-item>

        <el-menu-item index="6" class="right-floated" >
          <router-link to="/signout" v-on:click.native="doSignOut" class="menu-item" exact>
            <iron-icon icon="vaadin:sign-out"></iron-icon>
            Logout
          </router-link>
        </el-menu-item>



      </el-menu>
    </el-header>

    <router-view ></router-view>
  </el-container>
</template>
<script>
  export default {
    name: 'assistant-main',
    created: function () {
      let cookie = this.$cookie.get('user-role');
      if (!cookie || cookie !== 'Assistant') {
        this.doSignOut();
      }
    }
  };
</script>

