<template>

  <el-container>
    <el-aside class="side-menu">
      <el-menu text-color="#303133" active-text-color="#409EFF" default-active="1" class="full-height"  >

        <el-menu-item index="1">
          <router-link to="/admin/doctors" class="" exact>
              <span>
                <iron-icon icon="vaadin:list"></iron-icon>
                List
              </span>
          </router-link>
        </el-menu-item>

        <el-menu-item index="2">
          <router-link to="/admin/doctors/new" class="" exact>
              <span>
                <iron-icon icon="vaadin:user-check"></iron-icon>
                Add Doctor
              </span>
          </router-link>
        </el-menu-item>

      </el-menu>
    </el-aside>

    <el-main>
      <router-view></router-view>
    </el-main>

  </el-container>


</template>
<script>
  export default {
    name: 'admin-doctors'
  };
</script>
