<template>
  <el-container>

    <el-row class="full-width">
      <el-col :lg="12" :sm="24" :md="20" >
        <el-card>
          <div slot="header" class="clearfix card-header">
            <i class="el-icon-edit"></i> <span class="login-form-heading">Edit Doctor</span>
          </div>
          <edit-form :edit=true v-bind:edit-id="id" api-end-point="doctors"  v-on:formSubmitting="formSubmit" v-on:loadindData="formLoading" ></edit-form>
        </el-card>
      </el-col>
    </el-row>
  </el-container>

</template>

<script src="./_edit.js"></script>
