<template>
  <el-form :model="form" ref="adminDoctorForm" :rules="rules" label-position="top">
    <el-row class="form-container"   >

      <el-row type="flex" :gutter="15">
        <el-col >
          <el-form-item label="Name" prop="name">
            <el-input v-model.trim="form.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col >
          <el-form-item label="Email" prop="email">
            <el-input v-model.trim="form.email"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="15" type="flex">
        <el-col :span=12>
          <el-form-item label="Phone" >
            <el-input v-model.trim="form.phone"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span=12>
          <el-form-item label="Gender" class="full-width" >
            <el-select v-model="form.gender" placeholder="please select gender" class="full-width">
              <el-option label="Male" value="Male"></el-option>
              <el-option label="Female" value="Female"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex">
        <el-col :span=24>
          <el-form-item label="Address">
            <el-input type="textarea" v-model="form.address"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex">
        <el-col :span=12>

          <el-form-item>
            <el-button type="primary" plain @click="submitForm('adminDoctorForm')" :loading="formSubmitting" >
              {{button}}
            </el-button>
          </el-form-item>

        </el-col>
      </el-row>

    </el-row>
  </el-form>
</template>

<script src="./_form.js"></script>
