<template>
  <el-container>

    <el-row class="full-width">
      <el-col :lg="12" :sm="24" :md="20" >
        <el-card>
          <div slot="header" class="clearfix card-header">
            <iron-icon icon="vaadin:plus-circle-o"></iron-icon> <span class="login-form-heading">Add New Doctor</span>
          </div>
          <new-form :edit=false api-end-point="doctors"  v-on:formSubmitting="formSubmit" ></new-form>
        </el-card>
      </el-col>
    </el-row>
  </el-container>
</template>

<script src="./_new.js"></script>
