<template>
  <span>
    <input type="checkbox" :name="data.field.name" :id="data.field.name" v-model="checkBox"/>
    <div class="control"></div>
  </span>
</template>
<script src="./_checkBox.js"></script>
