<template>


    <div class="input-wrapper" :class="{
      'check-box': data.field.type === 'checkbox',
      'inline-block': data.inline
    }">

      <label :class="{'checkbox-label': data.field.type === 'checkbox', 'text-right': data.field.properties.language === 'urdu'}" :for="data.field.name">
        <span v-if="data.field.properties.language !== 'urdu'">{{data.field.label}} </span>
        <span v-else>{{data.field.label_urdu}} &nbsp;</span>

        <!--Checkbox-->
        <check-box v-if="data.field.type === 'checkbox'" :data="{
          field: data.field,
          type: data.type,
          rowIndex: data.rowIndex,
          cellIndex: data.cellIndex,
          fieldIndex: data.fieldIndex
        }"></check-box>
      </label>
      <!--End CheckBox-->


      <!--TextField-->
      <text-field v-if="data.field.type === 'text'" :data="{
          field: data.field,
          type: data.type,
          rowIndex: data.rowIndex,
          cellIndex: data.cellIndex,
          fieldIndex: data.fieldIndex
        }"></text-field>
      <!--End TextField-->

      <!--TextArea-->
      <text-area v-if="data.field.type === 'textarea'" :data="{
          field: data.field,
          type: data.type,
          rowIndex: data.rowIndex,
          cellIndex: data.cellIndex,
          fieldIndex: data.fieldIndex
        }"
      ></text-area>
      <!--End TextArea-->


      <!--TableField-->
      <table-field v-if="data.field.type === 'table'" :data="{
          field: data.field,
          type: data.type,
          rowIndex: data.rowIndex,
          cellIndex: data.cellIndex,
          fieldIndex: data.fieldIndex
        }"
      ></table-field>
      <!--End TableField-->


      <!--Help Text-->
      <small v-if="data.field.help_text && data.field.help_text.trim() !== ''">{{data.field.help_text}}</small>

    </div>

</template>
<script src="./_fields.js"></script>
