<template>
  <fieldset class="border" :class="{'nested padding-0': data.field.isNested}" >
    <legend>{{data.field.label}}</legend>
    <div v-for="(sectionField, sectionFieldIndex) in data.field.fields" class="input-wrapper" :class="{
      'check-box': sectionField.type === 'checkbox',
      'inline-block': data.inline
    }">
      <label :class="{'checkbox-label': sectionField.type === 'checkbox', 'text-right': sectionField.properties.language === 'urdu'}" :for="sectionField.name">
        <span v-if="sectionField.properties.language !== 'urdu'">{{sectionField.label}} </span>
        <span v-else>{{sectionField.label_urdu}} &nbsp;</span>

        <!--Checkbox-->
        <check-box v-if="sectionField.type === 'checkbox'" :data="{
          field: sectionField,
          type: data.type,
          sectionFieldIndex: sectionFieldIndex,
          rowIndex: data.rowIndex,
          cellIndex: data.cellIndex,
          fieldIndex: data.fieldIndex
        }"></check-box>
      </label>
      <!--End CheckBox-->


      <!--TextField-->
      <text-field v-if="sectionField.type === 'text'" :data="{
          field: sectionField,
          type: data.type,
          sectionFieldIndex: sectionFieldIndex,
          rowIndex: data.rowIndex,
          cellIndex: data.cellIndex,
          fieldIndex: data.fieldIndex
        }"></text-field>
      <!--End TextField-->

      <!--TextArea-->
      <text-area v-if="sectionField.type === 'textarea'" :data="{
          field: sectionField,
          type: data.type,
          sectionFieldIndex: sectionFieldIndex,
          rowIndex: data.rowIndex,
          cellIndex: data.cellIndex,
          fieldIndex: data.fieldIndex
        }"
      ></text-area>
      <!--End TextArea-->


      <!--TableField-->
      <table-field v-if="sectionField.type === 'table'" :data="{
          field: sectionField,
          type: data.type,
          sectionFieldIndex: sectionFieldIndex,
          rowIndex: data.rowIndex,
          cellIndex: data.cellIndex,
          fieldIndex: data.fieldIndex
        }"
      ></table-field>
      <!--End TableField-->


      <!--Help Text-->
      <small v-if="sectionField.help_text && sectionField.help_text.trim() !== ''">{{sectionField.help_text}}</small>

    </div>
    <vaadin-button v-if="data.field.isNested" theme="x-small">{{data.field.button_label}}</vaadin-button>
  </fieldset>
</template>
<script src="./_section.js"></script>
