<template>
  <span class="input-wrapper" >
    <label >
      <span>{{data.field.label}}</span>
      <div class="input-editor">
        <i title="edit" @click="editFormComponent()" class="vaadin-icon edit-icon">&#xe7fa;</i>
        <i title="delete" class="vaadin-icon delete-icon">&#xe80b;</i>
      </div>

    </label>
    <select>
      <option v-for="option in data.field.properties.options">
        {{option.label}}
      </option>
    </select>

    <small v-if="data.field.help_text.trim() !== ''">{{data.field.help_text}}</small>
  </span>
</template>
<script src="./_select.js"></script>
