<template>
  <table class="table cell-table-border">
    <thead>
    <tr>
      <th class="no-border"></th>
      <th v-for="column in data.field.properties.columns">
        {{column.heading}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="row in data.field.properties.rows">
      <td class="key heading">
        {{row.heading}}
      </td>
      <td class="value" v-for="column in data.field.properties.columns">
        <input />
      </td>
    </tr>
    </tbody>

  </table>
</template>
<script src="./_tableField.js"></script>
