<template>
  <input
         :dir="data.field.properties.language === 'urdu' ? 'rtl': ''"
         type="text" class="input padding-right-5"
         :placeholder="data.field.properties.language === 'urdu' ? 'اردو' : data.field.placeholder"
         v-model="textField"
         @input="addTextFieldValue(this.event.target, data.field.properties.language)"
  />
</template>
<script src="./_textField.js"></script>
