<template>
  <textarea :dir="data.field.properties.language === 'urdu' ? 'rtl': ''"
            class="input"
            :placeholder="data.field.placeholder"
            @input="editInput(this.event.target, data.field.properties.language)"
  ></textarea>
</template>
<script src="./_textArea.js"></script>
