<template>
  <el-container class="full-height">
    <el-header class="top-header  hide-print">
      <el-menu default-active="/reception" :router="true" class="top-menu" active-text-color="#409EFF" mode="horizontal" >

        <el-menu-item :route="{ path: `/reception` }" class="menu-item" index="/reception" >

            <iron-icon icon="vaadin:stethoscope"></iron-icon>
            OutDoor

        </el-menu-item>

        <el-menu-item :route="{ path: `/reception/indoor` }" class="menu-item" index="/reception/indoor" >

            <iron-icon icon="vaadin:doctor"></iron-icon>
            InDoor

        </el-menu-item>

        <el-menu-item :route="{ path: `/reception/lab` }" class="menu-item" index="/reception/lab" >

            <iron-icon icon="vaadin:flask"></iron-icon>
            Lab

        </el-menu-item>

        <el-menu-item :route="{ path: `/reception/xray` }" class="menu-item" index="/reception/xray" >

            <iron-icon icon="vaadin:asterisk"></iron-icon>
            X-Ray

        </el-menu-item>

        <el-menu-item :route="{ path: `/reception/expanses` }" class="menu-item" index="/reception/expanses" >

            <iron-icon icon="vaadin:cash"></iron-icon>
            Expenses

        </el-menu-item>

        <el-menu-item :route="{ path: `/reception/discount` }" class="menu-item" index="/reception/discount" >

            <el-badge :value="discounts" :max="10" class="badge">
              <iron-icon icon="vaadin:tag"></iron-icon>
              Discount
            </el-badge>

        </el-menu-item>

        <el-menu-item :route="{ path: `/reception/patients` }" index="/reception/patients" >

          <iron-icon icon="vaadin:user-heart"></iron-icon>
          Patients

        </el-menu-item>



        <el-menu-item :route="{ path: `/signout` }" v-on:click.native="doSignOut" class="menu-item right-floated" index="/signout" >

          <iron-icon icon="vaadin:sign-out"></iron-icon>
          Logout

        </el-menu-item>

      </el-menu>
    </el-header>

    <router-view></router-view>
  </el-container>
</template>
<script>
  import {db} from '@/firebase/db';
  export default {
    name: 'reception-main',
    data: function () {
      return {
        discounts: 0
      };
    },
    created: function () {
      let cookie = this.$cookie.get('user-role');
      if (!cookie || cookie !== 'Reception') {
        this.doSignOut();
      } else {
        this.loadDiscounts();
      }
    },
    methods: {
      loadDiscounts () {
        db.collection('discounts').where('is_discounted', '==', false)
          .onSnapshot((querySnapshot) => {
            let tempCounts = 0;
            querySnapshot.forEach((doc) => {
              tempCounts++;
            });
            this.discounts = tempCounts;
          });
      }
    }
  };
</script>

