//@import "scss/main";

/* theme color */
//$--color-primary: teal;

//$--input-border-radius: 1px;
$--border-radius-base: 2px;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import "scss/main";
