<template>
  <el-container class="full-height">
    <el-header class="top-header">
      <el-menu default-active="/admin" :router="true" class="top-menu" active-text-color="#409EFF" mode="horizontal" >

        <el-menu-item :route="{ path: `/admin` }" index="/admin" >

            <iron-icon icon="vaadin:dashboard"></iron-icon>
            Dash

        </el-menu-item>

        <el-menu-item :route="{ path: `/admin/departments` }" index="/admin/departments"  >

            <iron-icon icon="vaadin:building"></iron-icon>
            Departments

        </el-menu-item>

        <el-menu-item :route="{ path: `/admin/doctors` }" index="/admin/doctors" >

            <iron-icon icon="vaadin:doctor"></iron-icon>
            Doctors

        </el-menu-item>

        <el-menu-item :route="{ path: `/admin/employees` }" index="/admin/employees" >

            <iron-icon icon="vaadin:nurse"></iron-icon>
            Employees

        </el-menu-item>

        <el-menu-item :route="{ path: `/admin/incomes` }" index="/admin/incomes" >

          <iron-icon icon="vaadin:coin-piles"></iron-icon>
          Income

        </el-menu-item>

        <el-menu-item :route="{ path: `/admin/patients` }" index="/admin/patients" >

          <iron-icon icon="vaadin:user-heart"></iron-icon>
          Patients

        </el-menu-item>

        <el-menu-item :route="{ path: `/admin/shares` }" index="/admin/shares" >

          <iron-icon icon="vaadin:road-branches"></iron-icon>
          Shares

        </el-menu-item>



        <el-menu-item :route="{ path: `/signout` }" v-on:click.native="doSignOut" index="/signout" class="right-floated" >

            <iron-icon icon="vaadin:sign-out"></iron-icon>
            Logout

        </el-menu-item>

        <el-menu-item :route="{ path: `/admin/users` }" index="/admin/users" class="right-floated" >

            <iron-icon icon="vaadin:users"></iron-icon>
            Users

        </el-menu-item>

      </el-menu>
    </el-header>

    <router-view></router-view>
  </el-container>
</template>
<script>
  import store from '@/store/admin';
  export default {
    name: 'admin-main',
    store,
    created: function () {
      let cookie = this.$cookie.get('user-role');
      if (!cookie || cookie !== 'Administrator') {
        this.doSignOut();
      }
    }
  };
</script>

