<template>
  <el-container>
    <el-aside class="side-menu">
      <el-menu text-color="#303133" active-text-color="#409EFF" default-active="1" class="full-height"  >

        <el-menu-item index="1">
          <router-link to="/reception/patients" class="" exact>
              <span>
                <i class="el-icon-search"></i>
                Patient Search
              </span>
          </router-link>
        </el-menu-item>

      </el-menu>
    </el-aside>

    <el-main>
      <router-view></router-view>
    </el-main>

  </el-container>
</template>

<script>
    export default {
      name: 'reception-patients'
    };
</script>
