<template>

  <el-container>

    <el-row type="flex" class="full-width">
      <el-col :lg="12" :sm="24" :md="20" >
        <el-card>
          <div slot="header" class="clearfix card-header">
            <iron-icon icon="vaadin:plus-circle-o"></iron-icon> <span class="login-form-heading">Add Expanse</span>
          </div>
          <el-form :model="form" :ref="formName" :rules="rules" label-position="top">
            <el-row class="form-container"   >

              <el-row type="flex" :gutter="15">
                <el-col :span="12" >
                  <el-form-item label="Amount" prop="amount">
                    <el-input v-model.trim="form.amount"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span=12>
                  <el-form-item label="Select Department">
                    <el-select  placeholder="Departments" v-model="form.department">
                      <el-option
                        v-for="item in departments"
                        :key="item.value"
                        :label="item.label"
                        :value="item">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>

              <el-row type="flex" :gutter="15">
                <el-col :span=24>
                  <el-form-item  label="Date" >
                    <el-date-picker type="date" v-model.trim="form.createdAt" format="dd/MM/yyyy"></el-date-picker>
                  </el-form-item>
                </el-col>
              </el-row>

              <el-row :gutter="15" type="flex">
                <el-col :span=24>
                  <el-form-item label="Expanse Detail">
                    <el-input type="textarea" autosize v-model="form.details"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>



              <el-row type="flex">
                <el-col :span=12>

                  <el-form-item>
                    <el-button type="primary" plain @click="submitForm()" :loading="formSubmitting" >
                      Submit
                    </el-button>
                  </el-form-item>

                </el-col>
              </el-row>

            </el-row>
          </el-form>
        </el-card>
      </el-col>
    </el-row>
  </el-container>


</template>

<script src="./_addExpanse.js"></script>
