<template>
  <el-container  >

    <el-row class="full-width block" :gutter="15">

      <el-col :sm="24">
        <h2>
          Expenses
        </h2>
      </el-col>

      <el-col class="margin-top-20" :sm="24" :md="18" :lg="18" >
        <el-form :model="search" ref="searchForm" :rules="rules" label-position="top">
          <el-form-item label="Select Department" prop="department">
            <el-select  placeholder="Departments" v-model="search.department">
              <el-option
                v-for="item in departments"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Select Date Range" prop="dateRange">
            <el-date-picker
              v-model="search.dateRange"
              type="daterange"
              range-separator="To"
              start-placeholder="Start date"
              end-placeholder="End date"
              format="dd/MM/yyyy"
              value-format="yyyy-MM-dd"
            >
            </el-date-picker>
          </el-form-item>
          <el-button @click="doSearchData()" type="primary" icon="el-icon-search" :loading="formSubmitting">Search</el-button>
        </el-form>
      </el-col>

      <el-col class="margin-top-20" :sm="24" :md="18" :lg="18" v-loading="dataLoading"  >

        <el-table
          :data="expanseData"
          border
          height="500"
          :summary-method="getSummaries"
          show-summary
          style="width: 100%">
          <el-table-column
            prop="details"
            label="Detail"
            >
          </el-table-column>
          <el-table-column
            prop="amount"
            label="Amount"
            >
          </el-table-column>
          <el-table-column
            prop="department.name"
            label="Department"
          >
          </el-table-column>
          <el-table-column
            label="Date">
            <template slot-scope="scope">
              <span style="margin-left: 10px">{{ scope.row.created_at | moment }}</span>
            </template>
          </el-table-column>
        </el-table>

      </el-col>
    </el-row>

  </el-container>
</template>

<script src="./_expanse.js"></script>
