<template>

  <el-container>
    <el-aside class="side-menu">
      <el-menu text-color="#303133" active-text-color="#409EFF" default-active="1" class="full-height"  >

        <el-menu-item index="1">
          <router-link to="/admin/shares/department" class="" exact>
              <span>
                Department Shares
              </span>
          </router-link>
        </el-menu-item>

        <el-menu-item index="2">
          <router-link to="/admin/shares/doctor" class="" exact>
              <span>
                Doctor Shares
              </span>
          </router-link>
        </el-menu-item>

        <el-menu-item index="3">
          <router-link to="/admin/shares/employee" class="" exact>
              <span>
                Employee Shares
              </span>
          </router-link>
        </el-menu-item>
      </el-menu>
    </el-aside>

    <el-main>
      <router-view></router-view>
    </el-main>

  </el-container>

</template>
<script>
  export default {
    name: 'admin-shares'
  };
</script>
