<template>
  <el-card v-loading="loading" >
    <div slot="header" class="clearfix card-header">
      <span class="login-form-heading">Patient History</span>
      <el-button class="right-floated button-iron" @click="closeHistory()" type="text"><iron-icon icon="vaadin:close-circle"></iron-icon></el-button>
    </div>

    <template v-if="data.length > 0">
      <div class="patient-detail">
        <span class="name">Name: {{historyId.patient.name}} </span>
        <span class="name">Department: {{historyId.department.name}} </span>
        <span class="name">Doctor: {{historyId.doctor.name}} </span>
      </div>

      <el-collapse accordion>
        <el-collapse-item v-for="(item, index) in data" :name="index" :key="index">
          <template slot="title">
            <i class="el-icon-time"></i> {{item.created_at.seconds | patientEntryDate}}
          </template>

          <el-row :gutter="10"  class="dynamic-form-row " v-for="(row, rowIndex) in item.forms.assistant_form" :key="rowIndex" >
            <el-col v-for="(cell, indexCell) in row.cells" :span="cell.gr" :key="indexCell">
              <template v-for="(field, fieldIndex) in cell.fields" >
                <h4 v-if="field.type === 'section'">{{field.label}}</h4>

                <span v-if="field.type === 'checkbox' && item.prescription.assistant[field.name].value" >
                  <i class="el-icon-circle-check green-txt"></i> {{field.label}}
                </span>

                <template v-if="field.type === 'text' || field.type === 'textarea'">
                  <span class="history-label" v-html="field.properties.language !== 'urdu'?field.label:field.label_urdu" :class="{'text-right':field.properties.language === 'urdu'}"></span>
                  <span class="history-text" :class="{'text-right':field.properties.language === 'urdu'}" v-html="item.prescription.assistant[field.name].value"></span>
                </template>

                <template v-if="field.type === 'select'">
                  <span class="history-label">{{field.label}}</span>
                  <span >{{item.prescription.assistant[field.name].value}}</span>
                </template>

                <table  v-if="field.isNested && item.prescription.assistant[field.name].data.length > 0" class="table full-width">
                  <thead>
                  <tr>
                    <th class="text-left"  v-for="nestedField in item.prescription.assistant[field.name].fields" >
                      {{nestedField.label}}
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(dataFields, index) in item.prescription.assistant[field.name].data">
                    <td  v-for="dtField in dataFields">
                      {{dtField}}
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div v-if="field.type === 'table'" class="table-container history">
                  <h4 class="label">
                    {{field.label}}
                  </h4>
                  <table v-if="field.type === 'table'" class="table ">
                    <thead>
                    <tr>
                      <th v-if="field.properties.rows[0].heading" class="no-border"></th>
                      <th v-for="column in field.properties.columns">
                        {{column.heading}}
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(row, index) in field.properties.rows">
                      <td v-if="row.heading" class="key heading">
                        {{row.heading}}
                      </td>
                      <td class="value" v-for="column in field.properties.columns">
                       {{item.prescription.assistant[field.name][index].data[column.heading]}}
                      </td>
                    </tr>
                    </tbody>

                  </table>
                </div>



              </template>
            </el-col>
          </el-row>

          <el-row :gutter="10"  class="dynamic-form-row " v-for="(row, rowIndex) in item.forms.doctor_form" :key="rowIndex" >
            <el-col v-for="(cell, indexCell) in row.cells" :span="cell.gr" :key="indexCell">
              <template v-for="(field, fieldIndex) in cell.fields" >
                <h4 v-if="field.type === 'section'">{{field.label}}</h4>

                <span v-if="field.type === 'checkbox' && item.prescription.doctor[field.name].value" >
                  <i class="el-icon-circle-check green-txt"></i> {{field.label}}
                </span>

                <template v-if="field.type === 'text' || field.type === 'textarea'">
                  <span class="history-label" v-html="field.properties.language !== 'urdu'?field.label:field.label_urdu" :class="{'text-right':field.properties.language === 'urdu'}"></span>
                  <span class="history-text" :class="{'text-right':field.properties.language === 'urdu'}" v-html="item.prescription.doctor[field.name].value"></span>
                </template>

                <template v-if="field.type === 'select'">
                  <span class="history-label">{{field.label}}</span>
                  <span >{{item.prescription.doctor[field.name].value}}</span>
                </template>

                <table  v-if="field.isNested && item.prescription.doctor[field.name].data.length > 0" class="table full-width">
                  <thead>
                  <tr>
                    <th class="text-left"  v-for="nestedField in item.prescription.doctor[field.name].fields" >
                      {{nestedField.label}}
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(dataFields, index) in item.prescription.doctor[field.name].data">
                    <td  v-for="dtField in dataFields.contents">
                      {{dtField}}
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div v-if="field.type === 'table'" class="table-container history">
                  <h4 class="label">
                    {{field.label}}
                  </h4>
                  <table v-if="field.type === 'table'" class="table ">
                    <thead>
                    <tr>
                      <th v-if="field.properties.rows[0].heading" class="no-border"></th>
                      <th v-for="column in field.properties.columns">
                        {{column.heading}}
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(row, index) in field.properties.rows">
                      <td v-if="row.heading" class="key heading">
                        {{row.heading}}
                      </td>
                      <td class="value" v-for="column in field.properties.columns">
                        <span v-if="item.prescription.doctor[field.name]">
                          {{item.prescription.doctor[field.name][index].data[column.heading]}}
                        </span>
                        <span v-else>
                          &nbsp;
                        </span>

                      </td>
                    </tr>
                    </tbody>

                  </table>
                </div>



              </template>
            </el-col>
          </el-row>

        </el-collapse-item>

      </el-collapse>

    </template>
    <h1 class="no-data" v-if="noData">
      <i class="el-icon-circle-close-outline"></i> No History
    </h1>

  </el-card>
</template>
<script src="./_history.js"></script>
