<template>
  <el-container>

      <el-aside v-loading="loading"  class="side-menu border">
      <h3 class="sidebar-heading">Patients</h3>
      <el-tabs  value="que">

        <el-tab-pane name="que">

          <span slot="label">
            <el-badge :value="doctorQueNum" :max="99" class="item"><span>Que</span></el-badge>
          </span>

          <el-menu text-color="#303133" active-text-color="#409EFF" default-active="-1" class="full-height no-border"  >

            <el-menu-item v-for="(item, index) in doctorQue"  :index="index.toString()" :key="index">
              <router-link :to="`/doctor/patients/detail/${item.id}`" class="menu-item" exact>
              <span class="patient-list-item">
                {{item.data.patient.name}} <el-tag v-if="item.data.status.draft" size="mini">draft</el-tag>
                <small class="date">
                  {{item.data.created_at | moment}}
                </small>
              </span>
              </router-link>
            </el-menu-item>

          </el-menu>
        </el-tab-pane>
        <el-tab-pane name="assistant">
            <span slot="label">
              <el-badge :value="assistantQueNum" :max="99" class="item"><span>Assistant</span></el-badge>
            </span>

            <ul class="side-list">
              <li v-for="(item, index) in assistantQue"  :index="index.toString()" :key="index">
              <span class="patient-list-item">
                {{item.data.patient.name}}
                <small class="date">{{item.data.created_at | moment}}</small>
              </span>
              </li>
            </ul>

        </el-tab-pane>
        <el-tab-pane name="all ">
          <span slot="label">
             <el-badge :value="allQueNum" :max="99" class="item"><span>All</span></el-badge>
          </span>

          <ul class="side-list">
            <li v-for="(item, index) in allQue"  :index="index.toString()" :key="index">
              <span class="patient-list-item">
                {{item.data.patient.name}}
                <small class="date">
                  {{item.data.created_at | moment}}
                </small>
              </span>
            </li>
          </ul>
        </el-tab-pane>

      </el-tabs>
    </el-aside>

    <el-main>
      <router-view  ></router-view>
    </el-main>
  </el-container>
</template>
<script src="./_patients.js"></script>
