<template>
  <el-container>
    <el-row class="full-width">
      <el-col :lg="12" :sm="24" :md="20" >
        <el-card>
          <div slot="header" class="clearfix card-header">
            <i class="el-icon-edit"></i> <span class="login-form-heading">Edit Employee</span>
            <span v-if="formLoading" class="right-floated"><i class="el-icon-loading"></i></span>
          </div>
          <edit-form :edit=true v-bind:edit-id="id"  v-on:formSubmitting="formSubmit" v-on:loadindData="formLoading" ></edit-form>
        </el-card>
      </el-col>
    </el-row>
  </el-container>
</template>

<script src="./_edit.js"></script>
