<template>

  <el-form :model="form" :ref="formName" :rules="rules" label-position="top">
    <el-row class="form-container"   >

      <el-row type="flex" :gutter="15">
        <el-col :span="12" >
          <el-form-item label="Name" prop="name">
            <el-input v-model.trim="form.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12" >
          <el-form-item label="Email" prop="email">
            <el-input v-model.trim="form.email"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="15" type="flex">
        <el-col :span=12>
          <el-form-item label="N.I.C" >
            <el-input v-model.trim="form.nic"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span=12>
          <el-form-item label="Gender" >
            <el-select v-model="form.gender" placeholder="please select gender" class="full-width">
              <el-option label="Male" value="Male"></el-option>
              <el-option label="Female" value="Female"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="15" type="flex">
        <el-col :span=12>
          <el-form-item label="Phone" >
            <el-input v-model.trim="form.phone"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span=12>
          <el-form-item label="Address">
            <el-input type="textarea" autosize v-model="form.address"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <h2>Settings</h2>

      <el-row :gutter="15" type="flex">
        <el-col :span=12>
          <el-form-item label="Monthly Salary" prop="salary" >
            <el-input  v-model.trim="form.salary"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span=12>
          <el-form-item label="Daily Basis Salary" prop="dailyBases" >
            <el-input v-model.trim="form.dailyBases"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="15" type="flex">
        <el-col :span=12>
          <el-form-item  label="Joining Date" >
            <el-date-picker type="date" v-model.trim="form.joiningDate" format="dd/MM/yyyy"></el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span=12>
          <el-form-item label="Notes" >
            <el-input type="textarea" autosize v-model.trim="form.notes"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex">
        <el-col :span=12>

          <el-form-item>
            <el-button type="primary" plain @click="submitForm()" :loading="formSubmitting" >
              {{button}}
            </el-button>
          </el-form-item>

        </el-col>
      </el-row>

    </el-row>
  </el-form>

</template>

<script src="./_form.js"></script>
