<template>

  <el-container>
    <el-aside class="side-menu">
      <el-menu text-color="#303133" active-text-color="#409EFF" default-active="1" class="full-height"  >

        <el-menu-item index="1">
          <router-link to="/admin/incomes" class="" exact>
              <span>
                <iron-icon icon="vaadin:money-exchange"></iron-icon>
                Account Balance
              </span>
          </router-link>
        </el-menu-item>

        <el-menu-item index="2">
          <router-link to="/admin/incomes/deposits" class="" exact>
              <span>
                <iron-icon icon="vaadin:money-deposit"></iron-icon>
                Income
              </span>
          </router-link>
        </el-menu-item>

        <el-menu-item index="3">
          <router-link to="/admin/incomes/expanses" class="" exact>
              <span>
                <iron-icon icon="vaadin:money-withdraw"></iron-icon>
                Expenses
              </span>
          </router-link>
        </el-menu-item>

        <el-menu-item index="4">
          <router-link to="/admin/incomes/expanses/add" class="" exact>
              <span>
                <iron-icon icon="vaadin:plus"></iron-icon>
                Add Expenses
              </span>
          </router-link>
        </el-menu-item>


      </el-menu>
    </el-aside>

    <el-main>
      <router-view></router-view>
    </el-main>

  </el-container>

</template>
<script>
  export default {
    name: 'admin-incomes'
  };
</script>
