<template>
  <div>
  <el-form class="hide-print" :model="form" ref="receptionOutdootForm" :rules="rules" label-position="top">
    <el-row :gutter="15" >
      <el-col :span="24">
        <el-col :span="12">
          <h1>Patient</h1>
        </el-col>

        <el-col :span="12">
          <h3 class="text-right" v-if="patientLastVisit">
            Last Visit: {{patientLastVisit|moment}}
          </h3>
        </el-col>
      </el-col>


      <el-col :span="12">
        <el-form-item label="Phone Number" prop="phone" class="full-width" >
          <el-autocomplete class="full-width"
            :debounce="800"
            :fetch-suggestions="phoneSuggestions"
            :trigger-on-focus="false"
            value-key="phone"
            @select="handlePhone"
            @input="resetPatientID"
            v-model.trim="form.phone">

          </el-autocomplete>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Name" prop="patient_name" class="full-width" >
          <el-autocomplete class="full-width"
            :fetch-suggestions="nameSuggestions"
            value-key="name"
            @select="handleName"
            @input="resetPatientID"
            v-model.trim="form.patient_name"></el-autocomplete>
        </el-form-item>
      </el-col>

      <el-col :span="12">
        <el-form-item label="Age" >
          <el-input v-model.trim="form.age"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Gender">
          <el-select class="full-width" v-model="form.gender" >
            <el-option label="Male" value="male"></el-option>
            <el-option label="Female" value="female"></el-option>
          </el-select>
        </el-form-item>
      </el-col>

      <el-col :span="12">
        <el-form-item label="N.I.C" >
          <el-input v-model.trim="form.nic"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Location"  >
          <el-input v-model.trim="form.location"></el-input>
        </el-form-item>
      </el-col>


      <el-col :span="24">
        <h1>Doctor</h1>
      </el-col>

      <el-col :span="12">
        <el-form-item label="Select Doctor" prop="doctor_name" >
          <el-select class="full-width" v-model="selectedDoctorIndex"  placeholder="Select Doctor" >
            <el-option
              v-for="(doctor, index) in doctorsData"
              :key="doctor.doctorID"
              :label="doctor.doctorName"
              :value="index">
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>

      <el-col :span="12">
        <el-form-item label="Fee" prop="fee" >
          <el-input type="number" v-model="form.fee" ></el-input>
        </el-form-item>
      </el-col>

      <el-col :span="24">
        <h1>Total</h1>
      </el-col>

      <el-col :span="12">
        <el-form-item label="Discount" prop="discount" >
          <el-input type="number" v-model="form.discount"  ></el-input>
        </el-form-item>
      </el-col>

      <el-col :span="12">
        <el-form-item label=" "  >
          <h2 class="text-right">RS: {{totalFee}}</h2>
        </el-form-item>
      </el-col>

      <el-col :span="24">
        <el-form-item label=" " >
          <el-button type="primary" plain @click="validateBeforeSubmit('receptionOutdootForm')" :loading="formSubmitting">Save</el-button>
        </el-form-item>
      </el-col>

    </el-row>



  </el-form>
    <div id="print" ref="print" >

        <h1 class="text-center">Amin Hospital</h1>
        <h3>ID: #{{print.id}}-{{print.phone}}</h3>
        <h3>Date: {{print.date}}</h3>
        <hr />
        <h4>Doctor: {{print.doctor}} - {{print.department}}</h4>
        <h4>Patient: {{print.patient}}</h4>
        <hr />
        <h3>Fee: {{print.fee}}</h3>


    </div>
  </div>
</template>

<script src="./_form.js"></script>

<style>
  #print{
   display: none;
  }
</style>
