<template>


  <el-main >

      <el-row type="flex"  justify="center">
        <el-col :lg="12" :sm="24" :md="20">

          <el-card>
            <div slot="header" class="clearfix card-header">
              <iron-icon icon="vaadin:stethoscope"></iron-icon> <span class="login-form-heading">OutDoor Patients</span>
            </div>

            <!--Form-->

            <outdoor-form></outdoor-form>


          </el-card>

        </el-col>
      </el-row>


  </el-main>

</template>
<script>
  import OutDoorForm from './form.vue';
  export default {
    name: 'outdoor',
    components: {
      'outdoor-form': OutDoorForm
    }
  };
</script>
