<template>

  <el-row class="full-width">
    <el-col :size="24">
      <div class="input-header">
        <el-button @click="editFormComponent()" icon="el-icon-edit" type="text" size="mini"></el-button>
      </div>
    </el-col>
    <el-col :size="24">
      <div class="iput-holder" v-if="data.field.properties.language !== 'urdu'">
        <span class="block">&nbsp; </span>
        <el-checkbox >{{data.field.label}}</el-checkbox>
        <small class="block">&nbsp;{{data.field.help_text}}</small>
      </div>
    </el-col>
  </el-row>

</template>
<script src="./_checkBox.js"></script>
