<template>
  <el-row class="full-width">
    <el-col :size="24">
      <div class="input-header">
        <el-button @click="editFormComponent()" icon="el-icon-edit" type="text" size="mini"></el-button>
      </div>
    </el-col>
    <el-col :size="24">

      <div class="iput-holder" >
        <strong>&nbsp;{{data.field.label}}</strong>
      </div>

      <div :class="{'collapse':data.field.properties.inline}"  v-for="(sectionField, sectionFieldIndex) in data.field.fields"  >
        <text-field v-if="sectionField.type === 'text'" :data="{inline: data.field.properties.inline, field:sectionField, rowIndex: data.rowIndex, cellIndex: data.cellIndex, fieldIndex: data.fieldIndex, sectionFieldIndex: sectionFieldIndex}"></text-field>
        <text-area v-if="sectionField.type === 'textarea'" :data="{inline: data.field.properties.inline, field:sectionField, rowIndex: data.rowIndex, cellIndex: data.cellIndex, fieldIndex: data.fieldIndex, sectionFieldIndex: sectionFieldIndex}"></text-area>
        <select-field v-if="sectionField.type === 'select'" :data="{inline: data.field.properties.inline, field:sectionField, rowIndex: data.rowIndex, cellIndex: data.cellIndex, fieldIndex: data.fieldIndex, sectionFieldIndex: sectionFieldIndex}"></select-field>
        <checkbox-field v-if="sectionField.type === 'checkbox'" :data="{inline: data.field.properties.inline, field:sectionField, rowIndex: data.rowIndex, cellIndex: data.cellIndex, fieldIndex: data.fieldIndex, sectionFieldIndex: sectionFieldIndex}"></checkbox-field>
        <table-field v-if="sectionField.type === 'table'" :data="{inline: data.field.properties.inline, field:sectionField, rowIndex: data.rowIndex, cellIndex: data.cellIndex, fieldIndex: data.fieldIndex, sectionFieldIndex: sectionFieldIndex}"></table-field>
      </div>

      <div class="nested-button" v-if="data.field.isNested" >
        <br />
        <el-button size="mini" type="primary">{{data.field.button_label}}</el-button>
      </div>
      <div v-if="data.field.isNested" class="clear-fix"></div>

    </el-col>
  </el-row>

</template>
<script src="./_section.js"></script>
