<template>
  <el-row class="full-width">
    <el-col :size="24">
      <div class="input-header">
        <el-button @click="editFormComponent()" icon="el-icon-edit" type="text" size="mini"></el-button>
      </div>
    </el-col>
    <el-col :size="24">

      <div class="iput-holder" >
        <span>&nbsp;{{data.field.label}}</span>
        <el-select v-model="dummy" placeholder="Select">
          <el-option
            v-for="item in data.field.properties.options"
            :key="item.label"
            :label="item.label"
            :value="item.label">
          </el-option>
        </el-select>
      </div>

      <small>{{data.field.help_text}}</small>

    </el-col>
  </el-row>

</template>
<script src="./_select.js"></script>
