<template>

  <el-row class="full-width">
    <el-col :size="24">
      <div class="input-header">
        <el-button @click="editFormComponent()" icon="el-icon-edit" type="text" size="mini"></el-button>
      </div>
    </el-col>
    <el-col :size="24">

      <div class="iput-holder" >
        <span>&nbsp;{{data.field.label}}</span>
        <table class="table cell-table-border">
          <thead>
          <tr>
            <th class="no-border"></th>
            <th v-for="column in data.field.properties.columns">
              {{column.heading}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="row in data.field.properties.rows">
            <td class="key heading">
              {{row.heading}}
            </td>
            <td class="value" v-for="column in data.field.properties.columns">
              <el-input></el-input>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
      <small>{{data.field.help_text}}</small>
    </el-col>
  </el-row>


</template>
<script src="./_tableField.js"></script>
