<template>
  <el-row class="full-width" >
    <el-col :size="24">
      <div class="input-header">
        <el-button @click="editFormComponent()" icon="el-icon-edit" type="text" size="mini"></el-button>
      </div>
    </el-col>
    <el-col :size="24">

      <div class="iput-holder" v-if="data.field.properties.language !== 'urdu'">
        <span>&nbsp;{{data.field.label}}</span>
        <el-input :placeholder="data.field.placeholder" ></el-input>
      </div>
      <div class="iput-holder text-right" v-else>
        <span>{{data.field.label_urdu}}</span>
        <el-input :placeholder="data.field.placeholder" ></el-input>
      </div>
      <small>{{data.field.help_text}}</small>
    </el-col>
  </el-row>
</template>
<script src="./_textField.js"></script>
