<template>
  <el-container class="block"  >

    <el-row class="block full-width">
      <el-card class="full-width block" shadow="never">

      <el-form :model="search" class="full-width block" label-position="top" label-width="100px" >
        <el-row  :gutter="12">





            <h1 class="margin-0">Search Patients</h1>


                <el-col :sm="24" :md="6" :lg="4">
                  <el-form-item label="Phone">
                    <el-input v-model="search.phone"></el-input>
                  </el-form-item>
                </el-col>

                <el-col :sm="24" :md="6" :lg="4">
                  <el-form-item label="Name">
                    <el-input v-model="search.name"></el-input>
                  </el-form-item>
                </el-col>

                <el-col :sm="24" :md="6" :lg="2">
                  <el-form-item label="Age">
                    <el-input v-model="search.age"></el-input>
                  </el-form-item>
                </el-col>


          <el-col :sm="24" :md="6" :lg="3">
            <el-form-item label="Location">
              <el-input v-model="search.location"></el-input>
            </el-form-item>
          </el-col>

          <el-col :sm="24" :md="6" :lg="6">
            <el-form-item label="Gender">
              <el-select  placeholder="Gender" v-model="search.gender">
                <el-option
                  v-for="item in genderOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :sm="24" >
            <el-button type="primary" plain @click="searchPatients()" :loading="searching" icon="el-icon-search">Search</el-button>
            <el-button plain @click="formReset()"  >Reset</el-button>
          </el-col>



        </el-row>
      </el-form>
    </el-card>
    </el-row>

    <el-row class="block full-width">
      <el-col class="margin-top-20" :sm="24" :md="18" :lg="18" v-loading="searching"  >

        <el-table
          :data="searchData"
          border
          height="500"
          style="width: 100%">

          <el-table-column
            prop="phone"
            label="Phone"
          ></el-table-column>
          <el-table-column
            prop="name"
            label="Name"
          >
          </el-table-column>
          <el-table-column
            prop="age"
            label="Age"
          >
          </el-table-column>
          <el-table-column
            prop="gender"
            label="Gender"
          >
          </el-table-column>
          <el-table-column
            prop="location"
            label="Location"
          >
          </el-table-column>
          <el-table-column
            prop="nic"
            label="NIC"
          >
          </el-table-column>

          <el-table-column
            fixed="right"
            label=""
            width="100">
            <template slot-scope="scope">
              <el-button @click="handleEdit(scope.$index)" type="text" size="small">Edit</el-button>
            </template>
          </el-table-column>
        </el-table>

      </el-col>
    </el-row>

    <!--Edit patient-->
    <el-dialog :title="`Edit Patient (${inEdit.name})`" :visible.sync="dialogEditFormVisible" width="500px">
      <el-form :model="edit" label-position="top" label-width="120px">
      <el-row :gutter="5">
        <el-col :span="12">
          <el-form-item label="Phone" >
            <el-input v-model="edit.phone" auto-complete="off"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="Name" >
            <el-input v-model="edit.name" auto-complete="off"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

        <el-row :gutter="5">
          <el-col :span="12">
            <el-form-item label="Age" >
              <el-input v-model="edit.age" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Location" >
              <el-input v-model="edit.location" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="5">
          <el-col :span="12">
            <el-form-item label="N.I.C" >
              <el-input v-model="edit.nic" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Gender" >
              <el-select v-model="edit.gender" placeholder="Please select gender">
                <el-option
                  v-for="item in genderOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>
      <span slot="footer" class="dialog-footer">
    <el-button @click="dialogEditFormVisible = false">Cancel</el-button>
    <el-button type="primary" :loading="loading" @click="editPatient()">Confirm</el-button>
  </span>
    </el-dialog>


  </el-container>
</template>

<script src="./_search.js"></script>


