<template>
  <el-container class="login-wrapper">
    <el-main>

      <el-row class="form-container" type="flex" justify="center" align="middle">
        <el-col :lg="8" :md="16" :sm="20">
          <el-card class="" >
            <div slot="header" class="clearfix card-header">
              <iron-icon icon="vaadin:hospital"></iron-icon> <span class="login-form-heading">Amin Hospital</span>
              <span class="right-floated "><span class="bold">Login</span> to your account</span>
            </div>



            <el-form :model="form" ref="loginForm" :rules="rules" label-position="top">

              <el-alert :title="errorMessage" type="error" v-if="formError"></el-alert>

              <el-form-item label="Login" prop="login_id">
                <el-input v-model.trim="form.login_id"></el-input>
              </el-form-item>

              <el-form-item label="Password" prop="password">
                <el-input type="password" v-model="form.password" ></el-input>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" plain @click="auth('loginForm')" :loading="formSubmitting" >
                  Login
                </el-button>
              </el-form-item>

            </el-form>

            <div >
              <p>
                <strong>Admin</strong> user: admin@h.com pass: test123
              </p>
              <p>
                <strong>Doctor</strong> user: fahim1@h.com pass: test123
              </p>
              <p>
                <strong>Assistant</strong> user: assistant1@h.com pass: test123
              </p>
              <p>
                <strong>Reception</strong> user: reception1@h.com pass: test123
              </p>
            </div>

          </el-card>
        </el-col>
      </el-row>


    </el-main>
  </el-container>

</template>
<script src="./_login.js"></script>
