<template>
  <span>
    <a class="delete-icon" href="#!"  title="delete" v-on:click.prevent.stop="showModal" ><i class="vaadin-icon">&#xe80b;</i></a>
    <modal :name="'delete-confirm-modal-'+del"
           :width=300
           :height=140
           :adaptive=true
           :clickToClose=false
           >

      <div class="delete-modal-header">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm Delete
        <i @click="hideModal" class="fa fa-window-close modal-closer" aria-hidden="true"></i>
      </div>
      <div class="delete-modal-body">
        Are You Sure?
      </div>
      <div class="delete-modal-footer">
         <vaadin-button theme="small" @click="hideModal" >Cancel</vaadin-button>
        <vaadin-button theme="small" class="danger" @click="deleteItem" >Delete</vaadin-button>
      </div>
    </modal>
  </span>
</template>
<script>
  import apiServer from '@/resource/apiEndpoints';
  export default {
    name: 'delete-confirm-modal',
    props: ['id', 'api', 'del'],
    methods: {
      showModal () {
        this.$modal.show('delete-confirm-modal-' + this.del);
      },
      hideModal () {
        this.$modal.hide('delete-confirm-modal-' + this.del);
      },
      deleteItem () {
        this.$emit('deleting', true);
        this.$http.delete(apiServer.admin[this.api].delete + this.id).then(response => {
          let data = response.body;

          if (data.status === 'Fail') {
            this.generateNoty('error', `Error!<br>${data.msg}`);
          } else {
            this.generateNoty('success', `${data.msg}`);
            this.$emit('deleteConfirmed', this.del);
            this.hideModal();
          }
          this.$emit('deleting', false);
          this.$modal.hide('delete-confirm-modal');
        }, response => {
          // error callback
          this.generateNoty('error', 'Error!<br>Unable to delete');
          this.$emit('deleting', false);
          this.$modal.hide('delete-confirm-modal');
        });
      }
    }
  };
</script>
