<template>
  <span>
    <a class="delete-icon" href="#!"  title="delete" v-on:click.prevent.stop="showModal" ><i class="vaadin-icon">&#xe80b;</i></a>
    <modal :name="'delete-confirm-modal-local-' + getID"
           :width=300
           :height=140
           :adaptive=true
           :clickToClose=false
           >

      <div class="delete-modal-header">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm Delete
        <i @click="hideModal" class="fa fa-window-close modal-closer" aria-hidden="true"></i>
      </div>
      <div class="delete-modal-body">
        Are You Sure?
      </div>
      <div class="delete-modal-footer">
         <vaadin-button theme="x-small" @click="hideModal" >Cancel</vaadin-button>
        <vaadin-button theme="x-small" class="danger" @click="deleteItem" >Delete</vaadin-button>
      </div>
    </modal>
  </span>
</template>
<script>
  import _ from 'lodash';
  export default {
    name: 'delete-confirm-modal-local',
    props: ['delIndex'],
    computed: {
      getID: function () {
        if (this.delIndex.id) {
          let ret = '';
          _.forEach(this.delIndex, function (value, key) {
            ret += value;
          });
          return ret;
        } else {
          return this.delIndex;
        }
      }
    },
    methods: {
      showModal () {
        this.$modal.show('delete-confirm-modal-local-' + this.getID);
      },
      hideModal () {
        this.$modal.hide('delete-confirm-modal-local-' + this.getID);
      },
      deleteItem () {
        this.$emit('deleteConfirmedLocal', this.delIndex);
        this.hideModal();
      }
    }
  };
</script>
