<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import {db, firebase} from '@/firebase/db';
export default {
  name: 'app',
  created: function () {
    firebase.auth().onAuthStateChanged((user) => {
      if (user) {
        this.checkLogin(user);
      } else {
        this.$cookie.delete('user-role');
        this.$cookie.delete('department-doctor-id');
        this.redirectLogin();
      }
    });
  },
  methods: {
    checkLogin (user) {
      db.collection('users').doc(user.uid).get()
        .then((doc) => {
          if (doc.exists) {
            let data = doc.data();
            if (data.role === 'Administrator') {
              this.$cookie.set('user-role', 'Administrator', 1);
              this.$router.push('/admin');
            } else if (data.role === 'Assistant') {
              this.$cookie.set('user-role', 'Assistant', 1);
              this.$cookie.set('department-doctor-id', data.selected_doctor.department_doctor_id, 1);
              this.$router.push('/assistant');
            } else if (data.role === 'Doctor') {
              this.$cookie.set('user-role', 'Doctor', 1);
              this.$cookie.set('department-doctor-id', data.selected_doctor.department_doctor_id, 1);
              this.$router.push('/doctor');
            } else if (data.role === 'Operator' && data.role_type === 'Reception') {
              this.$cookie.set('user-role', 'Reception', 1);
              this.$router.push('/reception');
            }
          } else {
            this.$cookie.delete('user-role');
            this.$cookie.delete('department-doctor-id');
            this.redirectLogin();
          }
        });
    },
    redirectLogin () {
      this.$router.push('/');
    }
  }
};
</script>
