<template>
  <el-container  >
    <el-row class="full-width" :gutter="15">
      <el-col :lg="18" :sm="24" :md="24" >
        <el-card v-loading="loading"  >
          <div slot="header" class="clearfix card-header">
            <span class="login-form-heading">Patient Discount</span>
          </div>

          <div v-if="data !== null">
            <div class="patient-detail">
              <span class="name">Patient Name: {{data.name}} </span>
            </div>

            <div class="discount-amount">
              <span>RS:</span> {{data.discount}}
            </div>

            <div class="action">
              <el-button class="margin-top-20 margin-left-5" type="primary" plain :loading="formSubmitting" @click="submit()">Save</el-button>
            </div>
          </div>



        </el-card>
      </el-col>
    </el-row>
  </el-container>
</template>
<script src="./_detail.js"></script>
