<template>
  <el-container>

    <el-aside v-loading="loading" class="side-menu">
      <h3 class="sidebar-heading">Patients</h3>
      <el-menu text-color="#303133" active-text-color="#409EFF" default-active="1"   >
        <el-menu-item v-for="(item, index) in Que"  :index="index.toString()" :key="index">
          <router-link :to="`/reception/discount/detail/${item.id}`" class="menu-item" exact>
                  <span class="patient-list-item">
                    {{item.patient.name}}
                    <small class="date">{{item.patient.created_at.seconds | moment}}</small>
                  </span>
          </router-link>
        </el-menu-item>
      </el-menu>
    </el-aside>

    <el-main>
      <router-view  ></router-view>
    </el-main>

  </el-container>
</template>
<script src="./_patients.js"></script>
