.el-card {
  .el-card__header {
    background-color: $base-color;
    color: $white;
  }
  &.white{
    .el-card__header {
      background-color: $white;
      color: $black;
      .el-button{
        float: right;
        margin-right: 10px;
      }
    }

  }

}
.card-header{
  font-size: 15px;
  i{
    font-size: 20px;
    margin-right: 15px;
    color: $white;
  }
  iron-icon{
    color: $white;
  }
  .button-iron{
    margin-top: -10px;
  }
}

.history-header{
  margin-left: 25px;
  b{
    font-family: $bold-font;
  }
}
