.input-error{
  input{
    border-color: $danger-color;
    background-color: #fef0f0;
    color: $danger-color;
    &:focus{
      border-color: lighten($danger-color, 25);
    }
    &:hover{
      border-color: lighten($danger-color, 25);
    }
  }
}
.el-button{
  &.tiny{
    padding: 3px 6px;
    font-size: 12px;
  }
}
.dynamic-form-row{
  margin-bottom: 20px;
}
.dynamic-form-row-header{
  background-color: lighten($light-grey, 6);
  border: 1px solid lighten($light-grey, 3);
  padding: 5px;

}
.component-editor-header{
  background-color: lighten($light-grey, 6);
  border: 1px solid lighten($light-grey, 3);
  padding: 5px;
}
.cell-container{
  margin-top: 5px;
  .cell-header{
    border-bottom: 1px solid lighten($light-grey, 3);
    iron-icon{
      width: 15px;
      height: 15px;
    }
  }
}
.component-picker{
  border: none;
  iron-icon{
    margin-right: 20px;
  }
  .el-menu-item{
    &.is-active{
      color: #303133;
    }
  }
}
.delete-button{
  color: $danger-color;
  &:hover{
    color: lighten($danger-color, 20);
  }
}
.collapse{
  width: 30%;
  display: inline;
  margin-left: 5px;
  float: left;
  &:first-child{
    margin-left: 0;
  }
}
.nested-button{
  width: 5%;
  text-align: right;
  display: inline;
  &.inline{
    float: left;
    margin-top: 15px;
  }
  button{
    margin-top: 30px;
    margin-left: 5px;
  }
}

.select-container{
  margin-bottom: 18px;
  .label{
    line-height: 32px;
    padding: 0 0 10px 0;
    color: #606266;
    font-size: 13px;
  }
}
