html,body{
  height: 100%;
  font-family: $regular-font;
  font-size: 13px;
  padding: 0;
  margin: 0;
}
#app{
  height: 100%;
}
h1,h2,h3,h4{
  font-family: $bold-font;
  &.panel-heading{
    margin-top: 0;
  }
  &.default-disabled-text{
    font-size: 25px;
    color: $light-grey;
  }
}
h1{
  font-size: 22px;
  &.no-data{
    text-align: center;
    color: $light-grey;
    i{
      color: lighten($danger-color, 42);
    }
  }
}

h2{
  font-size: 19px;
}

h3{
  font-size: 16px;
}

h4{
  font-size: 13px;
}


.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
.relative{
  position: relative;
}

.bold{
  font-family: $semi-bold-font;
}
.el-form-item__label{
  font-size: 13px;
}
.no-padding{
  padding: 0;
}
.no-padding-main{
  padding: 0;
  padding-bottom: 20px;
}
.green-txt{
  color: $green-color;
}
.history-label{
  font-family: $bold-font;
  color: #909399;
  display: block;
}
.history-text{
  display: block;
}
.el-dropdown-link{
  color: $base-color;
  font-size: 13px;
  cursor: pointer;
  font-family: $bold-font;
}
.color-primary{
  color: $base-color;
}
.required{
  color: $danger-color;
}
.danger-text{
  color: $danger-color;
}
.text-right{
  text-align: right !important;
}
.text-left{
  text-align: left !important;
}
.text-center{
  text-align: center;
}
.right-floated{
  float: right;
}
.left-floated{
  float: left;
}
iron-icon{
  margin-right: 3px;
  width: 20px;
  height: 20px;
}
.margin-0{
  margin: 0 !important;
}
.margin-left-0{
  margin-left: 0 !important;
}
.margin-left-5{
  margin-left: 5px !important;
}
.margin-left-20{
  margin-left: 20px !important;
}
.margin-top-20{
  margin-top: 20px !important;
}

.margin-bot-10{
  margin-bottom: 10px !important;
}
.line-height-32{
  line-height: 32px;
}
.edit-field-row{
  line-height: 32px;
  margin-top: 5px;
}
.tip {
  padding: 8px 16px;
  background-color: #ecf8ff;
  border-radius: 4px;
  border-left: 5px solid #50bfff;
  margin: 20px 0;
}
.block{
  display: block;
}
.clear-fix{
  clear: both;
}
.sidebar-heading{
  padding-left: 20px;
}
.el-tabs__nav-wrap{
  padding-left: 10px;
}
.el-tabs__header{
  margin: 0;
}
.no-border{
  border: none;
}
.fixed--height{
  overflow: hidden;
  height: 100%;
}
.discount-amount{
  font-size: 60px;
  font-family: $bold-font;
  span{
    font-size: 30px;
  }
}

#print{
  display: none;
}

@media print {
  .hide-print{
    display: none;
  }
  #print {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
    display: block;
    z-index: 99999;
  }
}
