.login-wrapper{
  height: 100%;
  .login-form-heading{
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
  }
  .form-container{
    height: 100%;
  }
  .wrapper{
    h1{
      color: $white;
    }
    .login-form{
      background: $white;
      padding: 5px;
      @include box-shadow(1px,1px,3px,$black);
      .main-contents{
        background: $white;
        padding: 10px;
        border: 1px solid $base-color;
        .header{
          text-align: center;
          font-size: 15px;
          .logo{
            color: $base-color;
            width: 40px;
            height: 40px;
          }
          .name{
            color: $dark-grey;
            .bold{
              font-family: $bold-font;
            }
          }
        }
        .main-form{
          margin-top: 30px;
          //margin-bottom: 30px;
        }
      }

    }
  }

}
