.v--modal{
  border-radius: 1px;
  .delete-modal-header{
    background-color: $danger-color;
    color: white;
    padding: 10px;
  }
  .delete-modal-body{
    padding: 20px 10px;
    font-family: $semi-bold-font;
    font-size: 14px;
  }
  .delete-modal-footer{
    padding: 2px;
    text-align: right;
    border-top: 1px solid $light-grey;
  }
  .modal-closer{
    float: right;
    opacity: 0.5;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }
}
