.panel{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  background-color: #484f57;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;

  .panel-header{
    background-color: rgb(44, 45, 47);
    height: 42px;
    border-color: #000;
    border: 1px;
    box-sizing: border-box;
    color: #fff;
    line-height: 20px;
    font-size: 13px;
    line-height: 42px;
    padding-left: 8px;
  }
  .panel-contents{
    padding: 8px;
    overflow-y: auto;
    background: #fff;
    box-sizing: border-box;
    display: block;
  }
}
