.patient-detail{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 15px;
  span{
    //margin-right: 20px;
    &.name{
      font-family: $bold-font;
      text-transform: capitalize;
    }
  }

}
.section-head {
  margin-top: 40px;
  margin-bottom: 0;
}
