.popup-container{
  background: rgba($black, 0.95);
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;

  .popup-contents{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 300px;
    height: 420px;
    background: white;
    @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.5));
    @include rounded(1px);

    header{
      background-color: rgb(44, 45, 47);
      height: 20px;
      border-color: #000;
      border: 1px;
      box-sizing: border-box;
      color: #fff;
      font-size: 12px;
      padding-left: 4px;
      position: relative;

      .panel-closer{
        top: 4px;
      }
    }

    .list{
      overflow-y: auto;
      height: 400px;
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          padding: 15px;
          border-bottom: 1px solid $light-grey;
          cursor: pointer;
          font-size: 20px;
          color: $dark-grey;
          &:last-child{
            border-bottom: none;
          }
          &:hover{
            background: $light-grey;
            color: $black;
          }
          i{
            margin-right: 10px;
          }
        }
      }
    }

    .editor-contents{
      height: 400px;
      overflow-y: auto;
      table{
        font-size: 11px;
        tr{
          border-bottom: 1px solid $light-grey;
          td{
            padding: 3px;
            width: 50%;
            position: relative;
            padding-right: 13px;
            border-right: 1px solid $light-grey;
            &.table-inner-header{
              background: $light-grey;
              margin-top: 3px;
              margin-bottom: 3px;
              color: $black;
            }
            &.key{
              .tooltip-icon{
                float: right;
                color: $grey;
                cursor: help;
                &:hover{
                  color: $dark-grey;
                }
              }
            }
            &.value{
              i{
                position: absolute;
                z-index: 999;
                top:8px;
                right: 0;
                font-size: 10px;
              }
            }
            input{
              border: none;
              width: 100%;
              font-size: 11px;
              &:focus {
                outline: none;
              }
            }
            select{
              border: none;
              width: 100%;
              font-size: 11px;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
      .accordion{
        .accordion-item{
          header{
            background-color: rgb(44, 45, 47);
            height: 20px;
            border-color: #000;
            border: 1px;
            box-sizing: border-box;
            color: #fff;
            font-size: 12px;
            padding-left: 4px;
            position: relative;
            cursor: pointer;
            .panel-toggler{
              cursor: pointer;
              color: $white;
              top: 4px;
              position: absolute;
              right: 0;
            }
            &:hover{
              .panel-toggler{
                color: $link-color;
              }
            }
          }
        }
      }
    }

  }

}
