::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #AAA; } ::-webkit-scrollbar-button:hover{ background-color: #AAA; } ::-webkit-scrollbar-thumb{ background-color: #808080; border-radius: 10px; } ::-webkit-scrollbar-thumb:hover{ background-color: #646464; } ::-webkit-scrollbar-track{ background-color: #f7f7f7; } ::-webkit-scrollbar-track:hover{ background-color: #cdcdcd; } ::-webkit-scrollbar{ width: 5px; }
