.side-menu{
  //overflow: hidden;
  max-width: 250px;
  width: 250px;
  &.border{
    border-right: 1px solid $light-grey;
  }
  a{
    text-decoration: none;
    display: block;
    color: $grey;


    &.active{
      color: $base-color;
    }

    &:active{
      color: $base-color;
    }
  }
  .patient-list-item{
    display: block;
    small{
      float: right;
    }
  }
  .sidebar-heading{
    background-color: $base-color;
    color: $white;
    margin: 0;
    line-height: 20px;
    padding: 20px;
  }
  .el-badge__content{
    &.is-fixed{
      top: 12px;
      right: 0px;
    }
  }

  .el-menu-item{
    &.is-active {
      background-color: lighten($base-color, 33);
    }
  }

}
.side-list{
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  li{
    font-size: 14px;
    margin-bottom: 10px;
    color: $grey;
  }
}
.no-h-scroll{
  .el-scrollbar__wrap{
    overflow-x: hidden;
  }
}
