.tab{
  overflow: hidden;
  background-color: #212121;
  .tab-links{
    border: none;
    background-color: #212121;
    color: $white;
    cursor: pointer;
    padding: 7px 12px;
    opacity: 0.6;
    outline: none;
    &.active{
      background-color: $side-bar-bg;
      opacity: 1;
    }
    &:hover{
      background-color: $side-bar-bg;
      opacity: 1;
    }
  }
}
