.table{
  width: 100%;
  .action-column{
    width: 100px;
    text-align: right;
  }
  thead{

    tr {

      th {
        font-family: $bold-font;
        color: $grey;
        text-align: left;
        padding: 0 10px;
        border-bottom: 2px solid #ebeef5;

      }
    }
  }
  tbody{
    tr {

      td {
        text-align: left;
        width: 30%;
        padding: 0 10px;
        border-bottom: 1px solid #ebeef5;
        &.action {
          width: 10%;
          text-align: right;
        }
      }
    }
  }
}
.table-container {
  margin-top: 50px;
  margin-bottom: 50px;
  &.history{
    margin-top: 15px;
    margin-bottom: 15px;
    h4{
      margin-bottom: 0;
    }
  }
  .table {
    width: 100%;
    table-layout: fixed;
    thead {

      tr {

        th {
          font-family: $bold-font;
          color: $grey;
          text-align: left;
          padding: 0 10px;
          border-bottom: 2px solid #ebeef5;
          line-height: 32px;
        }
      }
    }
    tbody {
      tr {

        td {
          text-align: left;
          width: auto;
          padding: 0 10px;
          border-bottom: 1px solid #ebeef5;
          &.heading{
            font-family: $bold-font;
            color: $grey;
            text-align: left;
          }
          &.action {
            width: 10%;
            text-align: right;
          }
        }
      }
    }
  }
}
thead{
  .cell{
    font-family: $bold-font;
    color: $dark-grey;
  }
}
table{
  table{
    thead{
      .cell{
        color: $grey;
      }
    }
  }
}
.action-button{
  font-size: 19px;
  margin-left: 10px;
  &.delete-button{
    color: red;
  }
}

.table-row-error{
  background-color: lighten($danger-color, 30);
}

.el-table__expanded-cell{
  padding: 15px 50px !important;
}
table{
  input{
    padding: 0 2px !important;
  }
}
