.el-header{
  padding: 0;
  margin-bottom: 2px;
  .el-menu-item{
    display: inline-block;
    &.right-floated{
      float: right;
    }
  }
}
.top-menu{
  a{
    text-decoration: none;
    font-size: 15px;
    display: block;
    iron-icon{
      margin-top: -5px;
      margin-right: 3px;

    }
    &:hover{
      text-decoration: none;
    }
  }
  .badge{
    sup{
      top: 15px;
    }
  }
}
