@include font-face(OpenSans-Regular,fonts/OpenSans-Regular, null, null, ttf);
@include font-face(OpenSans-Light, fonts/OpenSans-Light, null, null, ttf);
@include font-face(OpenSans-Semibold, fonts/OpenSans-Semibold, null, null, ttf);
@include font-face(OpenSans-Bold, fonts/OpenSans-Bold, null, null, ttf);

@include font-face(Vaadin-Icons,fonts/Vaadin-Icons, null, null, eot svg ttf woff);

@font-face {
  font-family: 'URDU';
  src: url('fonts/urdu-nasq-regular-1.ttf') format('truetype');
}


.vaadin-icon {
  font-family: Vaadin-Icons;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

$base-color: #409EFF;
$link-color: #00BFA5;
$side-link-color: #607D8B;
$light-grey: #eee;
$grey: #9E9E9E;
$dark-grey: #424242;
$side-bar-bg: #2f3337;
$black: #000;
$black-secondary: #2c2d2f;
$green-color: #67C23A;
$danger-color: #D32F2F;
$teal-color: #00b5ad;
$white: #fff;

$menu-color-bg: $base-color;

$regular-font: OpenSans-Regular;
$semi-bold-font: OpenSans-Semibold;
$bold-font: OpenSans-Bold;
$light-font: OpenSans-Light;
$urdu-font: URDU;

$heading-green-color: darken($green-color, 15);
